<form id="k2ItemForm" class="jwEditForm">

    <label><%= l('K2_TITLE') %></label>
    <input type="text" name="title" value="<%- row.title %>" />

    <label><%= l('K2_PUBLISHED') %></label>
    <input type="text" name="published" value="<%- row.published %>" />

    <label><%= l('K2_ACCESS') %></label>
    <input type="text" name="access" value="<%- row.access %>" />

    <span><%= l('K2_CHECKED_OUT') %>: <%= row.checked_out %></span>

    <input type="hidden" name="id" value="<%= row.id %>" / >

    <% _(form.permissions).each(function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>

    <% _(form.itemViewOptions).each(function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>

</form>