<li class="jw--grid--item">
	<div class="jw--grid--item--wrap" style="background-image: url(<%= images.modal.src %>);">
		<div class="jw--grid--item--bg"></div>
		
		
		<div class="jw--check--wrapper">
		    <label class="jw--checkbox">
		        <input class="jw--row--toggler" data-action="toggle" name="id[]" value="<%= id %>" type="checkbox" />
		        <i class="fa fa-check"></i>
		    </label>
		</div>

		
		<div class="jw--toggle-wrapper">
			<% if(canEditState) { %>
		    <a data-action="toggle-state" data-state-value="<%= state %>" data-state="state" data-id="<%= id %>" class="jw--state--toggler jw--state--toggler__pub <% if( state == 1 ) { print('toggler--active'); } %>">
		    	<i class="fa fa-check-circle"></i>
		    	<i class="hidden"><%= state %></i>
		    </a>
		    <% } else { %>
		    <%= state %>
		    <% } %>
		
		    <% if(canEditState && canEditFeaturedState) { %>
		    <a data-action="toggle-state" data-state-value="<%= featured %>" data-state="featured" data-id="<%= id %>" class="jw--state--toggler jw--state--toggler__feat <% if( featured == 1 ) { print('toggler--active'); } %>">
		    	<i class="fa fa-star"></i>
				<i class="hidden"><%= featured %></i>
		    </a>
		   
		    <% } else { %>
		    <%= featured %>
		    <% } %>
		</div>
		
		<div class="jw--grid-text-wrap">
			<a data-action="edit" href="<%= editLink %>"><%= title %></a>
			<a href="<%- category.editLink %>"><%= category.title %></a>
		</div>
		
	</div>
</li>