<h1>Items</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<td class="jwCheckboxHolder">
					<label for="jwRowsToggler" class="jwCheckbox" title="Select All"><input id="jwRowsToggler" type="checkbox" /></label>
				</td>
				<td><a class="jwSortingButton" data-sorting-column="item.title ASC">Title</a></td>
				<td class="jwTextCenter  hide-on-small">
					<i class="jwicon-switch"></i>
				</td>
				<td class=" hide-on-small"><a class="jwSortingButton" data-sorting-column="item.ordering ASC">Order</a> <button data-column="ordering" class="jwSaveOrderButton"><i class="jwicon-floppy"></i></button></td>
				<td class="jwTextCenter"><a class="jwSortingButton" data-sorting-column="item.featured DESC">Featured</a></td>
				<td class="jwTextCenter"><a class="jwSortingButton" data-sorting-column="item.published DESC">Published</a></td>
				<td><a class="jwSortingButton" data-sorting-column="categoryName ASC">Category</a></td>
				<td class="hide-on-medium"><a class="jwSortingButton" data-sorting-column="moderatorName ASC">Last modified by</a></td>
				<td><a class="jwSortingButton" data-sorting-column="item.created DESC">Created </a></td> 
				<td class="hide-on-medium"><a class="jwSortingButton" data-sorting-column="item.modified DESC">Modified</a></td>
				<td><a class="jwSortingButton" data-sorting-column="item.id DESC">ID</a></td>
			</tr>
		</thead>
		<tbody></tbody>
	</table>	