<h1>Items</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<td class="jwCheckboxHolder">
					<label for="jwRowsToggler" class="jwCheckbox" title="Select All"><input id="jwRowsToggler" type="checkbox" /></label>
				</td>
				<td><a class="jwSortingButton" data-sorting="title">Title</a></td>
				<td class="jwTextCenter  hide-on-small">
					<i class="jwicon-switch"></i>
				</td>
				<td class=" hide-on-small"><a class="jwSortingButton" data-sorting="ordering">Order</a> <button data-column="ordering" class="jwSaveOrderButton"><i class="jwicon-floppy"></i></button></td>
				<td class="jwTextCenter"><a class="jwSortingButton" data-sorting="featured">Featured</a></td>
				<td class="jwTextCenter"><a class="jwSortingButton" data-sorting="published">Published</a></td>
				<td><a class="jwSortingButton" data-sorting="category">Category</a></td>
				<td class="hide-on-medium"><a class="jwSortingButton" data-sorting="moderator">Last modified by</a></td>
				<td><a class="jwSortingButton" data-sorting="created">Created </a></td> 
				<td class="hide-on-medium"><a class="jwSortingButton" data-sorting="modified">Modified</a></td>
				<td><a class="jwSortingButton" data-sorting="id">ID</a></td>
			</tr>
		</thead>
		<tbody></tbody>
	</table>	