<button class="appActionReorder">
    <%= l('K2_REORDER') %>
</button>
<ul>
    <li>
        <span> <label for="appRowsToggler" class="appCheckbox" title="<%- l('K2_SELECT_ALL') %>">
                <input id="appRowsToggler" type="checkbox" />
            </label> </span>
        <span><%= l('K2_TITLE') %></span>
        <span>DRAG</span>
        <span><%= l('K2_STATE') %></span>
        <span><%= l('K2_CATEGORY') %></span>
        <span><%= l('K2_ACCESS') %> </span>
        <span><%= l('K2_AUTHOR') %></span>
        <span><%= l('K2_CREATED') %> </span>
        <span><%= l('K2_MODERATOR') %></span>
        <span><%= l('K2_MODIFIED') %></span>
        <span><%= l('K2_HITS') %></span>
        <span><%= l('K2_LANGUAGE') %></span>
        <span><%= l('K2_ID') %></span>
    </li>
</ul>
<ul id="appItems"></ul>