<td class="jwCheckboxHolder">
    <label for="jwCheckBox<%= id %>" class="jwCheckbox">
        <input class="jwRowToggler" name="id[]" id="jwCheckBox<%= id %>" value="<%= id %>" type="checkbox" />
    </label>
</td>
<td><a class="jwEditLink" href="<%= link %>"><%= title %></a></td>
<td><span class="jwOrderingHandle"><i class="jwicon-menu"></i></span></td>
<td>
    <input type="text" maxlength="6" size="6" name="ordering[]" value="<%= ordering %>" data-id="<%= id %>" />
</td>
<td><a class="jwActionToggleState jwFeaturedState<%= featured == 1 ? ' jwStateActive' : '' %>" data-state="featured" data-id="<%= id %>"><%= featured %></a></td>
<td><a class="jwActionToggleState jwPublishedState<%= published == 1 ? ' jwStateActive' : '' %>" data-state="published" data-id="<%= id %>"><%= published %></a></td>
<td><%= categoryName %></td>
<td><%= viewLevel %></td>
<td><%= authorName %></td>
<td><%= createdDate %></td>
<td><%= moderatorName %></td>
<td><%= modifiedDate %></td>
<td><%= languageTitle %></td>
<td><%= id %></td>
