<td class="appCheckboxHolder">
    <label for="appCheckBox<%= id %>" class="appCheckbox">
        <input class="appRowToggler" name="id[]" id="appCheckBox<%= id %>" value="<%= id %>" type="checkbox" />
    </label>
</td>
<td><a class="appEditLink" href="<%= link %>"><%= title %></a></td>
<td><span class="appOrderingHandle" data-column="ordering">DRAG ME</span></td>
<td>
    <input type="text" maxlength="6" size="6" name="ordering[]" value="<%= ordering %>" data-id="<%= id %>" disabled="disabled" />
</td>
<td>
    <% if(canEditState) { %>
    <a class="appActionToggleState appPublishedState<%= state > 0 ? ' appStateActive' : '' %>" data-state="published" data-id="<%= id %>"><%= state %></a>
    <% } else { %>
    <%= state %>
    <% } %>

    <% if(canEditState && canEditFeaturedState) { %>
    <a class="appActionToggleState appFeaturedState<%= state > 1 ? ' appStateActive' : '' %>" data-state="featured" data-id="<%= id %>"><%= state %></a>
    <% } else { %>
    <%= state %>
    <% } %>
</td>
<td><%= categoryName %></td>
<td><%= viewLevel %></td>
<td><%= authorName %></td>
<td><%= createdOn %></td>
<td><%= moderatorName %></td>
<td><%= modifiedOn %></td>
<td><%= hits %></td>
<td><%= languageTitle %></td>
<td><%= id %></td>
