<!--
<div class="text-center small-1 columns">
	<i class="fa fa-reorder"></i>
</div>
-->
<div class="small-16 columns">
	<button class="jw--order--handle" data-action="expand"><i class="fa fa-expand"></i></button>
	<%= title %> - <span class="jw--row--title__inline"><%= l('K2_ID') %></span> <%= id %>
	
	<div class="jw--subcat" data-region="category-children"></div>
	<div class="jw--subcat__items" data-region="category-items" data-category="<%- id %>"></div>
	<button class="jw--btn jw--btn__item jw--btn__more" data-action="more" style="display: none;">MORE</button>
</div>





