<div class="clr"></div>
<div class="jw--attachments">
	<% if(remove == 0) { %>
	<div class="jw--element--row jw--attachment--single jw--gallery--single">

	    <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-6">
	    	<li>
	    		<div class="jw--gallery--image">
	    			<img src="http://demo.nuevvo.com/commercial/j3x/tamashi/media/k2/items/cache/e31ace2a15a7c70645ad83df9ecd43b0_XS.jpg" alt="" />
	    		</div>
	    	</li>
	    	<li>
	    		<div class="jw--gallery--image">
	    			<img src="http://demo.nuevvo.com/commercial/j3x/tamashi/media/k2/items/cache/184b7cb84d7b456c96a0bdfbbeaa5f14_XS.jpg" alt="" />
	    		</div>
	    	</li>
	    	<li>
	    		<div class="jw--gallery--image">
	    			<img src="http://demo.nuevvo.com/commercial/j3x/tamashi/media/k2/items/cache/9caa2793658f3cc387f216157300b1ce_XS.jpg" alt="" />
	    		</div>
	    	</li>
	    </ul>
		
		<input type="hidden" name="galleries[<%- cid %>][url]" value="<%- url %>" />
    </div>
    
	<button class="jw--remove jw--attachment--remove" data-action="remove">
	    <i class="fa fa-ban"></i>
	    <span class="visuallyhidden"><%= l('K2_REMOVE') %></span>  
    </button>
    <% } %>
    <input type="hidden" name="galleries[<%- cid %>][upload]" value="<%- upload %>" />
    <input type="hidden" name="galleries[<%- cid %>][remove]" value="<%- remove %>" />
</div>