<% if(remove == 0) { %>
<td><input type="text" name="attachments[<%- cid %>][file]" readonly="readonly" value="<%- file ? file : path %>" /></td>
<td><input type="text" name="attachments[<%- cid %>][name]" value="<%- name %>" /></td>
<td><input type="text" name="attachments[<%- cid %>][title]" value="<%- title %>" /></td>
<td><%- downloads %></td>
<td class="text-right"><button class="jw--btn jw--btn__item" data-action="download"><%= l('K2_DOWNLOAD') %></button></td>
<td class="text-right">
	<button class="jw--remove--row" data-action="remove">
		<i class="fa fa-ban"></i>
		<span class="visuallyhidden"><%= l('K2_REMOVE') %></span>
	</button>
	<span class="fa fa-reorder jw--order--handle" data-role="ordering-handle"></span> 
	<input type="hidden" name="attachments[<%- cid %>][id]" value="<%- id %>"  />
	<input type="hidden" name="attachments[<%- cid %>][remove]" value="<%- remove %>" />
</td>
<% } else { %>
<td colspan="6">
	<input type="hidden" name="attachments[<%- cid %>][id]" value="<%- id %>"  />
	<input type="hidden" name="attachments[<%- cid %>][remove]" value="<%- remove %>" />
</td>
<% } %>

