/*------------------------------------------------------------------
[Item Form] */

/* Generic form styling */

/* Item form styling */
.jw--form__item { }


/*------------------------------------------------------------------
[Tabs] */
ul.jw--tabs { list-style: none outside none; margin: 0; padding: 0; }
	ul.jw--tabs li { display: inline-block; vertical-align: middle; margin-right: -2px; }
	.jw--tabs a.active { background: #fff; }
	.jw--tabs a.active .fa { color: #00afec; }

	
/* top item navigation */
.jw--tabs__top { background: #e4eaed; }
	.jw--tabs__top li { margin-right: -2px; }
	.jw--tabs__top a { display: inline-block; font-weight: 300; font-size: 20px; line-height: 1; padding: 20px; border-top: 3px solid transparent; border-left: 1px solid #dedfdf; }
	.jw--tabs__top .fa { display: inline-block; vertical-align: middle; margin-right: 10px; }
	.jw--tabs__top a.active { border-top: 1px solid #00afec; border-bottom: 1px solid #fff; }

	.jw--pane__top {  padding: 0 27px; }
	
	/* lower tabs */
	ul.jw--tabs__content { margin-top: 25px; margin-bottom: -1px; position: relative; z-index: 2; }
		.jw--tabs__content li a {display:block;padding:10px 21px;margin:0;background:#f0f2f2;font-size:14px;text-decoration:none;font-weight:normal;outline:0;border-radius:3px 3px 0 0;color:#6d6f71; }
		.jw--tabs__content li a:hover {text-decoration:none;background-color:#f6f6f6;}
		.jw--tabs__content .fa {margin-right:8px;color:#6d6f71;}
		.jw--tabs__content li.ui-tabs-selected a {padding:10px 20px;background:#fff;color:#58595b;border:1px solid #d4d7d9;border-bottom:1px solid #fff;}
		.jw--tabs__content li.ui-tabs-selected a i {color:#0091ff;}
		.jw--tabs__content li.ui-tabs-selected a:hover {background-color:#fff;}
		.jw--tabs__content .active { border-color: #d4d7d9; border-style: solid; border-width: 1px 1px 0 1px; }
		
/*------------------------------------------------------------------
[Base item form] */
.jw--item--form { padding: 25px 30px; }
	.jw--item--row { margin-bottom: 15px; overflow: hidden; }
	.jw--item--lbl { width: 100px; margin-right: 15px; }
	.jw--item--lbl label { display: block; color: #7d7d7f; padding-top: 11px; }
	.jw--right--row { margin-left: 20px; }
	.jw--item--fld {  }
		.jw--item--fld input[type="text"] { min-width: 100%; border-radius: 3px; padding: 10px; height: 40px; line-height: 40px; line-height: 1; display: block; border: 1px solid #d4d7d9; margin: 0; }
		
		/* different for styling for other elements */
		.jw--item--fld__title input[type="text"] { padding: 17px 10px; height: auto; }
		.jw--item--fld__alias input[type="text"] { padding: 10px; background: #f0f2f3; border: 0; }

		
		/* Select 2 container */
		.jw--item--fld .select2-container { border-radius: 3px; border: 1px solid #d4d7d9; position: static; min-height: 40px; }
		.jw--item--fld .select2-container .select2-choice { height: 40px; line-height: 40px; }
		
		.jw--item--fld select { height: 40px; line-height: 40px; width: 164px; background: #f0f2f2; box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 1px 0 #fff; margin: 0; }
		.jw--tag--caption { padding-top: 5px; font-weight: 700; color: #abacad; font-size: 12px; }


/*------------------------------------------------------------------
[Editor content] */
.jw--editor--tab { padding: 20px; border: 1px solid #d4d7d9; }
	.jw--editor--cnt { border-radius: 3px; padding: 20px; border: 1px solid #e9ebec; }
	
	.editor { background: #f0f2f2;  border-style: solid; border-color: #d4d7d9; border-width: 0 1px 1px; }
		.editor .mce-panel { border-left: 0!important; border-right: 0!important; border-color: #d4d7d9; }
		#editor-xtd-buttons, .toggle-editor { padding: 5px 15px 10px; }
	
	
	
	
