/*------------------------------------------------------------------
[Item Form] */

/* Generic form styling */

/* Item form styling */
.jw--form__item { position: relative; }
#k2--id {position:absolute;right:0;top:3px;font-size:18px;font-weight:normal;padding:21px 24px;color:#0091ff;}
#k2--id strong {color:#a8c5dd;}


/*------------------------------------------------------------------
[Tabs] */
ul.jw--tabs { list-style: none outside none; margin: 0; padding: 0; }
	ul.jw--tabs li { display: inline-block; vertical-align: middle; margin-right: -2px; }
	.jw--tabs a.active { background: #fff; }
	.jw--tabs a.active .fa { color: #00afec; }

	
/* top item navigation */
.jw--tabs__top { background: #e4eaed; }
	.jw--tabs__top li { margin-right: -2px; }
	.jw--tabs__top a { display: inline-block; font-weight: 300; font-size: 20px; line-height: 1; padding: 20px; border-top: 3px solid transparent; border-left: 1px solid #dedfdf; }
	.jw--tabs__top .fa { display: inline-block; vertical-align: middle; margin-right: 10px; }
	.jw--tabs__top a.active { border-top: 1px solid #00afec; border-bottom: 1px solid #fff; }

	.jw--pane__top {  padding: 0 27px; }
	
	/* lower tabs */
	ul.jw--tabs__content { margin-top: 25px; margin-bottom: -1px; position: relative; z-index: 2; }
		.jw--tabs__content li a {display:block;padding:10px 21px;margin:0;background:#f0f2f2;font-size:14px;text-decoration:none;font-weight:normal;outline:0;border-radius:3px 3px 0 0;color:#6d6f71; }
		.jw--tabs__content li a:hover {text-decoration:none;background-color:#f6f6f6;}
		.jw--tabs__content .fa {margin-right:8px;color:#6d6f71;}
		.jw--tabs__content li.ui-tabs-selected a {padding:10px 20px;background:#fff;color:#58595b;border:1px solid #d4d7d9;border-bottom:1px solid #fff;}
		.jw--tabs__content li.ui-tabs-selected a i {color:#0091ff;}
		.jw--tabs__content li.ui-tabs-selected a:hover {background-color:#fff;}
		.jw--tabs__content .active { border-color: #d4d7d9; border-style: solid; border-width: 1px 1px 0 1px; }
		
/*------------------------------------------------------------------
[Base item form styling] */
.jw--item--form { padding: 25px 30px; }
	.jw--item--row { margin-bottom: 15px; overflow: hidden; }
	.jw--item--lbl { width: 100px; margin-right: 15px; }
	.jw--item--lbl label { display: block; color: #7d7d7f; padding-top: 11px; }
	.jw--right--row { margin-left: 20px; }
	.jw--item--fld {  }
	button.push--left { margin-left: 115px; }
		.jw--item--fld input[type="text"] { min-width: 100%; border-radius: 3px; padding: 10px; height: 40px; line-height: 40px; line-height: 1; display: block; border: 1px solid #d4d7d9; margin: 0; }
		
		/* different for styling for other elements */
		.jw--item--fld__title input[type="text"] { padding: 17px 10px; height: auto; }
		.jw--item--fld__alias input[type="text"] { padding: 10px; background: #f0f2f3; border: 0; }

		
		/* Select 2 container */
		.jw--item--fld .select2-container { border-radius: 3px; border: 1px solid #d4d7d9; position: static; min-height: 40px; }
		.jw--item--fld .select2-container .select2-choice { height: 40px; line-height: 40px; }
		
		.jw--item--fld select { height: 40px; line-height: 40px; width: 164px; background: #f0f2f2; box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 1px 0 #fff; margin: 0; }
		.jw--tag--caption { padding-top: 5px; font-weight: 700; color: #abacad; font-size: 12px; }


/*------------------------------------------------------------------
[Editor content] */
.jw--editor--tab { padding: 20px; border: 1px solid #d4d7d9; }
	.jw--editor--cnt { border-radius: 3px; padding: 20px; border: 1px solid #e9ebec; }
	
	.editor { background: #f0f2f2;  border-style: solid; border-color: #d4d7d9; border-width: 0 1px 1px; }
		.editor .mce-panel { border-left: 0!important; border-right: 0!important; border-color: #d4d7d9; }
		#editor-xtd-buttons, .toggle-editor { padding: 5px 15px 10px; }
	
/*------------------------------------------------------------------
[Attachments -images] */

/* images */
.jw--image--tab .jw--setting--field .jw--setting--single:nth-child(2n-2) { background: #fff; }
	.jw--form__item .jw--image--single img { padding: 10px; background: #f7f8f8; border: 1px solid #e9ebec; border-radius: 3px; position: relative; z-index: 2; }
	button.jw--remove { vertical-align: top; margin-left: -4px; position: relative; z-index: 2; background: #f7f8f8; border-style: solid; border-color: #e9ebec;  border-width: 1px 1px 1px 0; border-radius: 0 3px 3px 0; font-size: 18px; line-height: 1; padding: 13px; color: #949595; }
	button.jw--remove:hover { color: #a53222; }
	
	/* attachments */
	.jw--attachments { position: relative; }
		.jw--attachment--single, .row.jw--attachment--single { padding: 28px 20px 28px 10px; margin: 18px 41px 18px 0; background: #f7f8f8; border: 1px solid #e9ebec; border-radius: 3px; position: relative; z-index: 2; }
		button.jw--attachment--remove { position: absolute; right: 0; top: 0; }


/*------------------------------------------------------------------
[Extra fields] */
.jw--element--row { overflow: hidden;  }
	.jw--element--row .ov-hidden { padding-bottom: 2px; }
	.jw--element--row .ov-hidden > label { padding-top: 11px; padding-bottom: 11px; }
	.jw--element--row .jw--element--single { margin-bottom: 25px; }
	.jw--element--row .jw--element--single:last-child { margin-bottom: 0; }
	
	.jw--element--row h3 { font-size: 18px; font-weight: 300; padding: 0 0 0 15px; color: #acacad; line-height: 1; margin: 0 0 15px; }
	.jw--element--row .jw--element--single input[type="text"],
	.jw--element--row .jw--element--single textarea { min-width: 100%; min-width: 100%; border-radius: 3px; padding: 10px; height: 40px; line-height: 40px; line-height: 1; display: block; border: 1px solid #d4d7d9; margin: 0; }
	.jw--element--row .jw--element--single input[type="text"].jw--small--input { display: inline-block; vertical-align: middle; margin-left: 15px; max-width: 150px; min-width: 0; width: auto; }
	
	.jw--element--row .jw--element--single textarea { min-height: 100px; }

	.jw--element--row label { font-size: 13px; font-weight: 700; display: inline-block; vertical-align: middle; margin-top: 0; margin-bottom: 0; }
	.jw--element--row input[type="checkbox"], .jw--element--row input[type="radio"] { display: inline-block; vertical-align: middle; margin-right: 15px; margin-top: -2px; margin-left: 2px; }
	
	/* extrafields  table */
	.jw--attachment--table { width: 100%; margin: 18px 0 0; }
		.jw--attachment--table th { border-bottom: 3px solid #d7d9d9; color: #6d6f71; font-size: 14px; font-weight: 700; text-align: left; line-height: 1; padding: 12px 14px 12px 0; }
		.jw--attachment--table td { padding: 12px 14px 12px 0; font-size: 13px; }
		.jw--attachment--table td input { padding: 8px 10px 7px;  border: 1px solid #d7d9d9; border-radius: 3px; height: auto; }
		.jw--remove--row { font-size: 18px; color: #9e0b0f; }
	
	/* extrafields radio buttons */
	.ov-hidden label.jw--radio:first-child { margin-left: 0; }
	.ov-hidden label.jw--radio:last-child { margin-right: 0; }

	
/*------------------------------------------------------------------
[galleries] */	
	
	/* preview */
	.jw--gallery--single { padding: 25px 10px 10px; }
	.jw--gallery--image { position: relative; width: 100%; padding: 0 0 56%; overflow: hidden; z-index: 2; border-radius: 3px; }
		.jw--gallery--image img { position: absolute; left: 0; top: 0; z-index: 1; min-width: 100%; min-height: 100%; height: auto; }
	
/*------------------------------------------------------------------
[Revisions] */
.jw--editor--revisions { border-radius: 3px; border: 1px solid #d4d7d9; padding: 25px; margin-top: 33px; }
	.jw--editor--revisions textarea { border-radius: 3px; border: 1px solid #d4d7d9; display: block; min-width: 100%; min-height: 107px; padding: 5px 10px; }
	.jw--rev--title { display: block; line-height: 1; font-weight: 700; font-size: 18px; color: #58595b; margin-bottom: 13px; letter-spacing: -1px; }
	.jw--rev--title .fa { display: inline-block; vertical-align: middle; padding-right: 5px; color: #00afec; font-size: 24px; font-weight: 400;  }