.appClr {
	float: none;
	clear: both;
}
#appHeader {

}
#appLogo {
	float: left;
	height: 55px;
	margin-left: 17px;
	width: 214px;
}

#appPrimaryMenu {
	float: right;
	height: 55px;
	line-height: 51px;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#appPrimaryMenu li {
	display: inline;
	padding: 0;
}

#appPrimaryMenu li a {
	font-size: 20px;
	font-weight: 400;
	margin: 0 10px;
}
#appActions {
	display: block;
	float: right;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	line-height: 51px;
}
#appActions li {
	display: inline;
}
#appSidebar {
	float: left;
}
#appSidebar {
	width: 20%;
	float: left;
}
#appMain {
	width: 80%;
	float: left;
}
#appSecondaryMenu {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#appSecondaryMenu li {
	display: inline;
}
#appSidebar label.radio {
	float: none;
	display: inline-block;
	margin-right: 0 10px 0 0;
	padding: 0 0 0 4px;
}
#appSidebar label.radio input {
	float: none;
	display: inline-block;
	margin: 0;
}
#appSubheader .appFilters {
	float: right;
	line-height: 51px;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#appSubheader .appFilters div.appFilter {
	display: inline-block;
}
#appItemAttachmentPlaceholder, #appItemMediaPlaceholder, #appItemGalleryPlaceholder {
	display: none;
}

body.dragging, body.dragging * {
	cursor: move !important;
}

.dragged {
	position: absolute;
	opacity: 0.5;
	z-index: 2000;
}

ol.example li.placeholder {
	position: relative;
}
ol.example li.placeholder:before {
	position: absolute;
}
