.jw *,.jw *:before,.jw *:after{ -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.fixed--width{ max-width: 990px; }
.clr { clear: both; }
.jw--inline__bl { display: inline-block; vertical-align: middle; }

h1.jw--logo { line-height: 0.8; padding: 15px 0 12px; }
	.jw--logo img, .jw--logo span { display: inline-block; vertical-align: bottom; }
	.jw--logo img {  }
	.jw--logo span { font-size: 12px; color: #fff; color: rgba(255,255,255,.5); }

/* Layout for the extension */
.com_k2 .container-fluid { padding-left: 0; padding-right: 0; }
	.com_k2 .row { margin-left: 0; margin-right: 0; }
	.com_k2 .row .row { margin-left: -15px;margin-right: -15px; }
	
	.com_k2 .subhead-collapse, .com_k2 header.header { display: none; position: absolute; clip: rect(0,0,0,0); }

.jw--component { overflow: hidden; }

/* menu fix */
#module-menu #menu {z-index:9999;}

.jw--transition {
	-webkit-transition:all 350ms cubic-bezier(0.730, 0, 0.445, 1.000);
	-webkit-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
	   -moz-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
	 	-ms-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
		 -o-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
		 	transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000)
}


/* Image replacement */
.ir { background-color: transparent; border: 0; overflow: hidden; }
.ir:before { content: ""; display: block; width: 0; height: 150%; }

/* helper classes */
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }


/*------------------------------------------------------------------
[Modules - reusable]

/* Search module */
.jw--search { border: 1px solid #bbbdbf; border-radius: 3px; margin: 0 auto; max-width: 220px; overflow: hidden; }
	.jw--search input.jw--search--input { font-size: 13px; border-radius: 3px 0 0 3px; border: 1px solid #e1e3e5; border-radius: 3px; padding: 0 10px 0 10px; margin: 0 -50px 0 0; background-color: #fff; box-shadow: inset 0 1px 0 #e1e3e5; height: 34px; line-height: 34px; }
	.jw--search input.jw--search-iinput:focus { background: #dbdcdc; color: #63696f; }

	.jw--search button.jw--search--button { height: 34px; line-height: 29px; padding: 0 10px; text-align: center; font-size: 19px; color: #63696f; border: 1px solid #d4d6d8; border-radius: 3px; background-clip: padding-box; background-color: #eff1f1; box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 1px 0 #fff;}
	.jw--search button.jw--search--button:hover { color: #00afec; }

/*------------------------------------------------------------------
[Filter - reusable] */

.jw--top--filters .jw--filter { min-height: 45px; font-size: 13px; border-left: 1px solid #dbdcdc; }
	.jw--top--filters .jw--filter label { color: #b1b5b6; font-weight: 700; font-size: 11px; line-height: 1; display: block; padding: 8px 15px 2px; margin: 0; }
	.jw--filter {  }
	
/*------------------------------------------------------------------
[Toolbar] */
.jw--toolbar { overflow: hidden; padding: 5px 15px; border-top: 1px solid #dbdcdc; border-bottom: 1px solid #dbdcdc; }


/*------------------------------------------------------------------
[Pagination] - common */
.jw--pagination { position:fixed; width: 100%; padding: 0 12px; background: #fff; z-index:9;bottom:29px;right:0;left:46px;width:auto; border-bottom:1px solid #dbdcdc; border-left: 1px solid #dbdcdc; box-shadow: 0 -1px 0 #dbdbdb, inset 0 1px 0 rgba(255,255,255,.7); height: 50px; }
	/* pagination pages */
	.jw--pagination ul {list-style:none outside none; display:inline-block;vertical-align:top; margin:0;padding:0 50px;}
	.jw--pagination ul li {display:inline-block;vertical-align:middle;border-top:3px solid transparent;font-weight:700;}
	.jw--pagination ul li a {padding:13px 10px 2px;display:block;color:#626a6d;}
	.jw--pagination ul li.active {border-color:#00afec;}
	
	/* pagination limit */
	.jw--limit { padding: 7px 0; }
		.jw--limit label { margin-right: 15px; font-weight: 600; font-size: 13px; }
		.jw--limit select { max-width: 90px; width: 90px; height: 34px; line-height: 34px; background: #f0f2f2; box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 1px 0 #fff; }
	
	/* pagination total */
	.jw--total { font-size: 13px; }
		.jw--total .jw--exbold { color: #00afec; font-weight: 800; }
		.jw--total .jw--total--block { line-height: 1; padding: 18px 17px;  }
		.jw--total .jw--total--block:first-child { border-right: 1px solid #dbdcdc; }
		


