.jw *,.jw *:before,.jw *:after{ -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }

/* reusable classes */
.fixed--width{ max-width: 990px; }
.clr { clear: both; }
.jw--inline__bl { display: inline-block; vertical-align: middle; }
.jw--wauto { width: auto; }
.ov-hidden { overflow: hidden; }

h1.jw--logo { line-height: 0.8; padding: 0; font: 0/0 transparent; background: url('../images/K2logo_102x40.png') no-repeat 0 0; width: 102px; height: 40px; margin: 10px 10px 0 -1px; }
	.jw--logo img, .jw--logo span { display: inline-block; vertical-align: bottom; }
	.jw--logo img {  }
	.jw--logo span { font-size: 12px; color: #fff; color: rgba(255,255,255,.5); }

/* Layout for the extension */
.com_k2 .container-fluid { padding-left: 0; padding-right: 0; }
	.com_k2 .row { margin-left: 0; margin-right: 0; }
	.com_k2 .row .row { margin-left: -15px;margin-right: -15px; }
	
	.com_k2 .subhead-collapse, .com_k2 header.header { display: none; position: absolute; clip: rect(0,0,0,0); }

.jw--component { overflow: hidden; padding-top: 109px; padding-left: 46px; padding-bottom: 28px;}
div[data-region="grid"], div[data-region="list"] { background: #f0f2f2; }

/* Fixed layout */
.jw--header { position: fixed; top: 30px; left: 0; width: 100%; z-index: 11; }
.jw--sidebar { position: fixed; left: 0; top: 94px; bottom: 30px; background: #fff; z-index: 1029; }
.jw--subheader { position: fixed; top: 94px; left: 46px; right: 0; background: #fff; z-index: 10; border-bottom: 1px solid #ebebeb; }
div#system-debug { padding-left: 50px; }

/* Fixed layout - opened layout */
.open--sidebar {  }
	.open--sidebar .jw--component { padding-left: 320px; }
	.open--sidebar .jw--pagination,
	.open--sidebar .jw--scrollwrapper,
	.open--sidebar .jw--subheader { left: 320px; }
	
	/* Active toolbar */
	.active--toolbar .jw--component { padding-top: 149px; }
	
/* menu fix */
#module-menu #menu {z-index:9999;}

.jw--transition {
	-webkit-transition:all 350ms cubic-bezier(0.730, 0, 0.445, 1.000);
	-webkit-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
	   -moz-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
	 	-ms-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
		 -o-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
		 	transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000)
}

/* Image replacement */
.ir { background-color: transparent; border: 0; overflow: hidden; }
.ir:before { content: ""; display: block; width: 0; height: 150%; }

/* helper classes */
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

/*------------------------------------------------------------------
[Modules - reusable] */

.jw--add--area { margin-right: -12px; padding: 12px 15px; background: #204866; }
	.jw--add--area.jw--add__solo { margin: 0 15px; }

/* Search module */
.jw--search { border: 1px solid #bbbdbf; border-radius: 3px; margin: 0 auto; max-width: 220px; position: relative; }
	.jw--search input[type="text"] { font-size: 13px; border-radius: 3px 0 0 3px; border: 1px solid #e1e3e5; border-radius: 3px; padding: 0 10px 0 10px; margin: 0 -50px 0 0; background-color: #fff; box-shadow: inset 0 1px 0 #e1e3e5; height: 34px; line-height: 34px; }
	.jw--search input[type="text"]:focus { background: #dbdcdc; color: #63696f; }

	.jw--search button.jw--search--button { height: 34px; line-height: 29px; position: relative; padding: 0 10px; text-align: center; font-size: 19px; color: #63696f; border: 1px solid #d4d6d8; border-radius: 3px; background-clip: padding-box; background-color: #eff1f1; box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 1px 0 #fff;}
	.jw--search button.jw--search--button:hover { color: #00afec; }

/* Autocomplete - based on jQuery UI */
.jw--autocomplete { z-index: 999; position: absolute; background: #f0f0ee; border-radius: 0; min-width: 100%; max-width: 100%; max-height: 223px; overflow: auto; box-shadow: 0 1px 0 rgba(0,0,0,.11), inset 0 1px 0 rgba(0,0,0,.08); left: 0;  }
		.jw--autocomplete ul { list-style: none outside none; margin: 0; padding: 0; border: 1px solid #e1e3e5; }
		.jw--autocomplete ul li { display: block; }
		.jw--autocomplete ul li:nth-child(odd) { background: #fff; }
		.jw--autocomplete a { font-size: 12px; line-height: 1.3; display: block; margin: 0; padding: 15px;}
		.jw--autocomplete li:hover,
		.jw--autocomplete li:hover a,
		.jw--autocomplete li a:hover { color: #fff; border: 0; background: #00afec; }

/*------------------------------------------------------------------
[Filter - reusable] */

.jw--top--filters .jw--filter { min-height: 45px; font-size: 13px; border-left: 1px solid #dbdcdc; width: 186px; }
	.jw--top--filters .jw--filter label { color: #b1b5b6; font-weight: 700; font-size: 11px; line-height: 1; display: block; padding: 8px 15px 2px; margin: 0; }
	.jw--filter {  }
	
/*------------------------------------------------------------------
[Toolbar] batch actions */
.jw--toolbar { overflow: hidden; padding: 5px 15px; border-top: 1px solid #dbdcdc; border-bottom: 1px solid #dbdcdc; }
	.jw--toolbar--actions { list-style: none outside none; margin: 0; padding: 4px 0; font-size: 12px; }
	.jw--toolbar--actions li { display: inline-block; vertical-align: middle; margin: 0 14px; color: #636a6f; }
	.jw--toolbar--actions .fa { display: inline-block; vertical-align: middle; font-size: 18px; margin-right: 3px; }
	.jw--toolbar--actions span { display: inline-block; vertical-align: middle; }
	.jw--toolbar--actions button { color: #636a6f; padding: 0; line-height: 1; }
	.jw--toolbar--actions button:hover { color: #00afec; }
	
/* The counter */
.jw--counter { font-size: 16px; color: #bbbdbf; letter-spacing: -1px; padding: 4px 0; }
	.jw--counter__single { display: inline-block; padding-right: 5px; }
	
/*------------------------------------------------------------------
[Pagination] - common */
.jw--pagination { position:fixed; width: 100%; padding: 0 12px; background: #fff; z-index:9;bottom:29px;right:0;left:46px;width:auto; border-bottom:1px solid #dbdcdc; box-shadow: 0 -1px 0 #dbdbdb, inset 0 1px 0 rgba(255,255,255,.7); height: 50px; }
	.jw--pagination.jw--infinite { left: auto; right: 0; border-left: 1px solid #dbdcdc; padding: 15px; }
	
	/* pagination pages */
	.jw--pagination ul {list-style:none outside none; display:inline-block;vertical-align:top; margin:0;padding:0 50px;}
	.jw--pagination ul li {display:inline-block;vertical-align:middle;border-top:3px solid transparent;font-weight:700;}
	.jw--pagination ul li a {padding:13px 10px 2px;display:block;color:#626a6d;}
	.jw--pagination ul li a:hover { color: #00afeb; }
	.jw--pagination ul li.active {border-color:#00afec;}
	
	/* pagination limit */
	.jw--limit { padding: 7px 0 0; }
		.jw--limit label { margin-right: 15px; margin-bottom: 0; font-weight: 600; font-size: 13px; }
		.jw--limit select, .jw--limit .select2-container.jw--limit--select  { display: inline-block; vertical-align: middle; max-width: 90px; width: 90px; min-width: 0; height: 34px; line-height: 34px; background: #f0f2f2; box-shadow: 0 1px 1px rgba(65,64,66,.14); text-align: left; }
		
		.jw--limit .select2-container .select2-choice { max-width: 100%; background: #f0f2f2; border-radius: 3px; border: 1px solid #dbdcdc; min-width: 0; height: 34px; line-height: 34px; }
	
	/* pagination total */
	.jw--total { font-size: 13px; }
		.jw--total .jw--exbold { color: #00afec; font-weight: 800; }
		.jw--total .jw--total--block { line-height: 1; padding: 18px 17px;  }
		.jw--total .jw--total--block:first-child { border-right: 1px solid #dbdcdc; }
	
	/* Infinite scroll message */
	.jw--infstatus {height:50px;line-height:50px;border-radius:5px; background-color: #000;background-color: rgba(0,0,0,.4); color: #fff; font-weight: 700; font-size: 18px;
text-shadow: 0 1px 0 rgba(0,0,0,.42); padding: 0 22px; position: fixed; bottom: 60px; left: 50%; z-index: 99; margin-left: -150px; width: 300px; 
 white-space:nowrap; text-overflow: ellipsis; display: none; }
	.scroll-loading .jw--infstatus { display: inline-block; }
	.jw--infstatus .jw--preloader { margin-right: 20px; width: 32px; height: 32px; display: inline-block; vertical-align: middle; background: url('../images/preloader.gif') no-repeat 0 0; }
		


