/* Tabled list layouts (items, categories) */
table.jw--listed--items { width: 100%; font-size: 13px; }
	table.jw--listed--items tr {  }
	table.jw--listed--items td { background: #f0f2f2; border-bottom: 1px solid #dbdcdc; padding: 15px 7px; vertical-align: top; }
	
	/* various elements */
	.jw--order--handle { color: #a5a5a2; padding: 0 7px; display: inline-block; vertical-align: middle; }
		.jw--order--handle:hover { color: #636b6e; cursor: pointer; }
		.jw--order--title {  padding: 0 7px; display: inline-block; vertical-align: middle; }
	
	/* Table header */
	table.jw--listed--items thead td { font-weight: 700; background: #fff; border-top: 1px solid #ebebeb; padding: 4px 7px; vertical-align: middle; }
	
	/* tabled layout */
	input.jw--featured--inp { background: #fff; min-height: 26px; max-width: 35px; line-height: 24px; padding: 0 5px; cursor: not-allowed; }
	input[disabled].jw--featured--inp { opacity: 0.75; }
	
	/* ul > li layout */
	.jw--listed--items ul { list-style: none outside none; min-width: 100%; margin: 0; padding: 0; background: #f0f2f2; border-bottom: 1px solid #dbdcdc; font-size: 13px; overflow: hidden; }
		.jw--listed--items ul li { padding-top: 15px; padding-bottom: 15px; word-break: break-word; overflow: hidden; }
		
	.jw--listed--items ul.jw--items--header { background: #fff; font-weight: 700; }
	.jw--listed--items ul.jw--items--header ul { padding-top: 4px; padding-bottom: 4px; }
	.jw--listed--items ul.jw--items--header li { /* white-space: nowrap; */ }
	.jw--row--title { display: block; margin-bottom: 10px; }
	.jw--row--title__inline { display: inline-block; font-weight: 700; padding-right: 5px; margin: 0; color: #b3b7b9; }
	.jw--row--imlink { padding-left: 10px; }
	
	/* Category layout */
	.jw--cat a { font-weight: 500; padding-right: 5px; }
	.jw--listed--items .jw--cat > li { border-bottom: 1px solid #dbdcdc; /* white-space: nowrap; */ }
		.jw--listed--items .jw--cat li { word-break: break-all; }
	
	/* reset all paddings */
	.jw--listed--items__cat ul li { padding: 0; }
	.jw--listed--items__cat .columns { padding: 15px 0; }
	.jw--listed--items__cat	li.k2SortingPlaceholder { height: 48px; }
	
	/* Subcategory layout */
	.jw--listed--items ul.jw--subcat { border: 0; }
		/* tree view */
		ul.jw--subcat .jw--cat--title { padding-left: 15px; }
			ul.jw--subcat ul .jw--cat--title { padding-left: 30px; }
				ul.jw--subcat ul ul .jw--cat--title { padding-left: 45px; }
					ul.jw--subcat ul ul ul .jw--cat--title { padding-left: 60px; }
						ul.jw--subcat ul ul ul ul .jw--cat--title { padding-left: 75px; }
			
		/* placeholder tree view */
		ul.jw--subcat li.k2SortingPlaceholder { margin-left: 15px; }
			ul.jw--subcat ul li.k2SortingPlaceholder { margin-left: 30px; }
				ul.jw--subcat ul ul li.k2SortingPlaceholder { margin-left: 45px; }
					ul.jw--subcat ul ul ul li.k2SortingPlaceholder { margin-left: 60px; }
						ul.jw--subcat ul ul ul li.k2SortingPlaceholder { margin-left: 75px; }
					
		/* subcategory colors */
		.jw--listed--items ul.jw--subcat > li { border-top: 1px solid #dbdcdc; background: #dbdcdc; }
			/* third level */
			.jw--listed--items ul.jw--subcat ul li {  border-top: 1px solid #dbdcdc; background: #cdcdcd; }
				/* fourth */
				.jw--listed--items ul.jw--subcat ul ul li { background: #c1c1c1; }
				/* Fifth */
				.jw--listed--items ul.jw--subcat ul ul ul li { background: #b1b1b1; }
				/* six levels should be enough */
				.jw--listed--items ul.jw--subcat ul ul ul li { background: #a9a9a9; }
			
		/* Resets and further down */
		.jw--listed--items ul.jw--subcat ul { width: 100%; float: left; clear: both; }
		.jw--listed--items ul.jw--subcat ul li:first-child { margin-top: 0; }
		
	/* sortable layouts */
	.jw--listed--items .fa-bars{ opacity: 0.5; }
		.jw--listed--items .fa-bars:hover { opacity: 1; cursor: move; }
		
	.jw--listed--items .k2SortingPlaceholder, 
	.jw--listed--items .placeholder { height: 94px; width: 100%; display: block; background: #d1d2d2; border: 3px dashed #b3b5b5; }
		.jw--listed--items .placeholder { height: 48px; }
		.jw--listed--items .k2SortingPlaceholder > li {  height: 94px; width: 100%;  display: block; }
		/* dragged item */
		.dragged { position: absolute; z-index: 999; opacity: 0.65; }
		
/* Sortable and movable lists (items only) */
ul.jw--sortable--items { border: 0; }
	ul.jw--sortable--items ul { padding: 0; border: 0; }
	
	/* borders */
	ul.jw--sortable--items > li { border: 0; padding: 0; }
		ul.jw--sortable--items > li > .columns { padding-top: 15px; padding-bottom: 15px; border-top: 1px solid #dbdcdc; }
		ul.jw--sortable--items > li > .jw--border--col { height: 54px; }
		
	ul.jw--sortable--items ul > li:first-child { margin-top: 15px;  }
	ul.jw--sortable--items .jw--btn__more { margin-top: 15px; }
	
	/* subcategory items */
	.jw--subcat__items ul { overflow: visible; }
		.jw--subcat__items ul li { overflow: visible; border-bottom: 1px solid #dbdcdc; margin-left: -15px; margin-right: 15px; padding-left: 39px; padding-right: 15px; }