/* Tabled list layouts (items, categories) */
table.jw--listed--items { width: 100%; font-size: 13px; }
	table.jw--listed--items tr {  }
	table.jw--listed--items td { background: #f0f2f2; border-bottom: 1px solid #dbdcdc; padding: 15px 7px; vertical-align: top; }
	
	/* Table header */
	table.jw--listed--items thead td { font-weight: 700; background: #fff; border-top: 1px solid #ebebeb; padding: 4px 7px; vertical-align: middle; }
	
	/* tabled layout */
	input.jw--featured--inp { background: #fff; min-height: 26px; max-width: 35px; line-height: 24px; padding: 0 5px; cursor: not-allowed; }
	input[disabled].jw--featured--inp { opacity: 0.75; }
	
	/* ul > li layout */
	.jw--listed--items ul { list-style: none outside none; min-width: 100%; margin: 0; padding: 0; background: #f0f2f2; border-bottom: 1px solid #dbdcdc; font-size: 13px; overflow: hidden; 	
	-webkit-transition: opacity 350ms cubic-bezier(0.730, 0, 0.445, 1.000);
	-webkit-transition: opacity 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
	   -moz-transition: opacity 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
		 	-ms-transition: opacity 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
		 	 -o-transition: opacity 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
		 	 		transition: opacity 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000)
	}
		.jw--listed--items ul li { padding-top: 15px; padding-bottom: 15px; word-break: break-word; }
		
	.jw--listed--items ul.jw--items--header { background: #fff; font-weight: 700; }
	.jw--listed--items ul.jw--items--header ul { padding-top: 4px; padding-bottom: 4px; }
	.jw--listed--items ul.jw--items--header li { white-space: nowrap; }
	.jw--row--title { display: block; margin-bottom: 10px; }
	.jw--row--title__inline { display: inline-block; font-weight: 700; padding-right: 5px; margin: 0; color: #b3b7b9; }
	.jw--row--imlink { padding-left: 10px; }
	
	/* sortable layouts */
	.jw--listed--items .fa-bars{ opacity: 0.5; }
		.jw--listed--items .fa-bars:hover { opacity: 1; cursor: move; }
		
	.jw--listed--items .k2SortingPlaceholder { height: 94px; width: 100%; display: block; background: #d1d2d2; border: 3px dashed #b3b5b5; }
		.jw--listed--items .k2SortingPlaceholder > li {  height: 94px; width: 100%;  display: block; }
		/* dragged item */
		.dragged { position: absolute; z-index: 999; opacity: 0.65; }