.jw--msg { }
	.jw--msg ul { list-style: none outside none; margin: 0; padding: 0; }
	.jw--msg .alert { border:0; padding:15px; margin: 0; border-radius: 0; color:#fff; font-weight: 600;font-size: 13px;overflow:hidden;}
	.jw--msg .alert .fa { font-size: 16px; display: inline-block; vertical-align: middle; padding-right: 5px; }
	.jw--msg .alert.alert-message { background:#3fa800;}
	.jw--msg .alert.alert-error {background:#bd362f;}
	.jw--msg .alert.alert-notice {background:#fff3b2; color: #4e4c49; }
