@media only screen and (max-width: 1180px){
	/* item form -- tabs */
	.jw--tabs__top a { padding: 20px 14px; font-size: 17px; }

}

@media only screen and (max-width: 1025px){

	ul.jw--tabs { text-align: left!important; }

}


@media only screen and (max-width: 900px){
	/* item form -- tabs */
	.jw--tabs__top a { padding: 15px 10px; font-size: 14px; }
	.jw--tabs__top .fa { display: none; }
	.jw--tabs__content li a { padding: 10px; }
	
	/* menu */
	ul.jw--main--menu > li > a, ul.jw--main--menu .jw--sep { padding: 22px 10px; }

	
}


@media only screen and (max-width: 767px){

	/* visibility */
	body { padding-left: 0!important; padding-right: 0!important; }
	body .navbar-fixed-top, body .navbar-fixed-bottom, body .navbar-static-top { margin-left: 0; margin-right: 0; }
	#k2--id, ul.jw--main--menu .fa, .jw h3.jw--title { display: none; }
	
	/* remove all fixed instances */
	.jw--header { position: static; width: auto; }
	.jw--subheader { position: static; border: 0; }
	.jw--component { padding-top: 0; padding-left: 0; min-width: 100%; clear: both;}
	.jw--pagination { position: static; height: auto; }
	
	/* sidebar styling */
	.jw--sidebar { left: 0; position: relative; min-width: 100%; top: 0; }
	
	/* item form */
	.jw--item--form { padding: 25px 10px; }
	.jw--tabs__content .fa { display: none; }
	.jw--item--row__single { min-width: 100%; clear: both; }
	
	.jw--scrollwrapper.jw--scrollwrapper__item { display: none; }
	.jw--settings__global { padding: 38px 10px; }
	
	/* the form fields */
	.jw--item--fld { margin-bottom: 20px; } 
	
	/* filters */
	.jw--top--filters .jw--filter { width: 33.3333%; border-bottom: 1px solid #dbdcdc; }
	
	
}


@media only screen and (max-width: 600px){

	/* filters */
	.jw--top--filters .jw--filter { width: 50%; }
	
	.jw--item--form { padding: 25px 0; }


}


@media only screen and (max-width: 400px){

	/* item form */
	.jw--tabs__content li a { padding: 10px 5px; font-size: 13px; }

	/* filters */
	.jw--top--filters .jw--filter { width: 100%; }


}