@media only screen and (max-width: 1250px){

	/* item form -- tabs */
	.jw--tabs__top a { padding: 20px 14px; font-size: 17px; }
	
	/* paddings */
	.jw--component { padding-top: 155px; }
	#k2-items-form .jw--component { padding-top: 109px; }
	
	/* filters */
	.jw--subheader { border-bottom: 0; }
		.jw--filters { width: 100%; overflow: hidden; margin-bottom: -1px; border-top:  1px solid #dbdcdc; }
		.jw--top--filters .jw--filter { width: 16.66%; float: left!important; border-left: 0; border-right: 1px solid #dbdcdc; }
		.jw--top--filters .jw--filter:only-child { width: 100%; }
		.select2-container .select2-choice, .select2-container { min-width: 0; width: 100%; }
		/* proper borders */
		.jw--items--header {  border-top: 1px solid #dbdcdc; }
	
	/* creating a scrolled layout */
	div[data-region="items-inner"], div[data-region="grid"] { overflow: scroll; }
	.jw--listed--items { min-width: 1240px; overflow: scroll; }

}

@media only screen and (max-width: 1025px){

	ul.jw--tabs { text-align: left!important; }
	
}

@media only screen and (max-width: 900px){
	
	#k2--id { display: none; }
	
	/* item form -- tabs */
	.jw--tabs__top a { padding: 15px 10px; font-size: 15px; }
	.jw--tabs__top .fa { display: none; }
	.jw--tabs__content li a { padding: 10px; }
	
	/* image tab */
	.jw--image--single button.jw--remove { position: absolute; right: 0; top: 0; }
	.jw--image--single .jw--item--input { position: relative; }
	
	/* the form fields */
	.jw--item--row { margin-bottom: 0; }
	.jw--item--fld, .jw--item--tags { margin-bottom: 20px; } 
	.jw--item--fld__multi { margin-bottom: 20px; min-width: 100%; }

	/* menu */
	ul.jw--main--menu > li > a, ul.jw--main--menu .jw--sep { padding: 18px 9px; letter-spacing: -1px; }
	
	/* reduce the scroll navigation */
	.jw--scrollwrapper { width: 255px; }
	.jw--settings__global { padding-left: 275px; }
	
}

@media only screen and (max-width: 767px){

	/* visibility */
	body { padding-left: 0!important; padding-right: 0!important; }
	body .navbar-fixed-top, body .navbar-fixed-bottom, body .navbar-static-top { margin-left: 0; margin-right: 0; }
	.jw h3.jw--title, .jw--thumbsbar, .jw--listed--items .fa-save, a.btn-subhead { display: none; }
	.jw--thumbsbar { position: absolute; clip: rect(0,0,0,0); }
	
	/* navigation - break it down with a toggler */
	ul.jw--main--menu { width:100%; }
		ul.jw--main--menu > li,
		ul.jw--main--menu li a { display: block; }
		ul.jw--main--menu li { border-bottom: 1px solid #204861; } 
		ul.jw--main--menu > li.jw--haschild > span { display: none; }
		ul.jw--main--menu > li > ul { display: block; padding: 0; margin: 0; width: 100%; position: static; opacity: 1; background: transparent; }
		ul.jw--main--menu > li > ul li a { padding: 18px 9px; }
	
	/* menu visibility */
	#jw--navtoggle { color: #f6f6f6; position: absolute; right: 4px; top: 7px; width: 37px; padding: 7px 10px; border-radius: 3px; line-height: 1; font-size: 23px; background: #204866; }
	
	.jw--main--menu { display: none; }
		.jw--main--menu.menu--open { display: block; }
	
	/* remove all fixed instances */
	.jw--header { position: static; width: auto; }
	.jw--subheader { position: static; border: 0; }
	.jw--component, #k2-items-form .jw--component { padding: 0; min-width: 100%; clear: both;}
	.jw--pagination { position: static; height: auto; }
	.open--sidebar .jw--component { padding-left: 0; }
	div#system-debug { padding-left: 10px; }
	
	/* remove joomla! 's margins */
	.container-main, #system-debug { padding-bottom: 0!important; }
	.navbar-fixed-bottom { margin-top: 0!important; }
	
	/* header styling */
	h1.jw--logo { margin-left: 41px; margin-bottom: 15px; }
	
	/* add area */
	.jw--add--area { float: none!important; clear: both; margin: 15px -12px 0; padding: 12px 12px; width: auto; overflow: hidden; }
	
	/* sidebar styling */
	.jw--sidebar { left: -280px; width: 280px; top: 0; bottom: 0; padding-top: 15px; overflow: visible; position: absolute; }
		.jw--sidebar--handle  { right: -45px; background: transparent; overflow: auto; position: absolute; top: 9px; bottom: auto; height: auto; border: 0; border-left: 0; z-index: 9999; color: #fff; }
		.jw--sidebar--handle .jw--sidebar--toggle { color: #fff; }
		.jw--sidebar--text { width: 100%; border-right: 1px solid #dbdcdc; }
		.jw--sidebar .jw--filters,
		.jw--sidebar .jw--pagination--mode { position: static; width: 100%; clear: both; }
		.jw--sidebar .jw--filters { margin-top: 15px; }
		
	/* Open sidebar */
	.jw { position: relative; }
	.jw.open--sidebar { overflow: hidden; }
	.jw--sidebar.jw--sidebar__open:after { content: ""; position: absolute; right: -837px; top: 0; background: rgba(0,0,0,.75); display: block; width: 300%; height: 100%; }
	
	/* item form */
	.jw--item--form { padding: 25px 10px; }
	.jw--tabs__content .fa { display: none; }
	.jw--item--row__single, .jw--item--input { min-width: 100%; clear: both; }
	
	.jw--scrollwrapper { display: none; }
	.jw--settings__global { padding: 38px 10px; }
	
	/* tabs */
	.jw--item--lbl { text-align: left!important; margin-bottom: 5px; }
	.jw--element--row h3 { padding-left: 0; }
	.jw--gallery--text { overflow: hidden; display: block; margin-top: 10px; }
 
	/* filters */
	.jw--top--filters .jw--filter { width: 33.3333%; border-bottom: 1px solid #dbdcdc; }
	
	/* Settings */
	.jw--hits, .jw--reset--wrap { margin-left: 0; }
	.jw--settings fieldset, .jw--settings select, .jw--settings input[type="text"], .jw--settings input[type="password"], .jw--settings textarea { min-width: 100%; max-width: 100%; margin-top: 5px; }
	.jw--settings fieldset { padding-left: 0; }
	
	/* pagination */
	.jw--pagination { padding: 0 10px; }
		.jw--pagination ul { padding:  0 0 15px; margin: 10px -10px 0; display: block; overflow: hidden; border-top: 1px solid #dbdcdc; clear: both; }
	
	/* revisions */
	.jw--revisions { padding: 15px; }
	
}

@media only screen and (max-width: 640px){
		
	/* filters */
	.jw--top--filters .jw--filter { width: 50%; }
	.jw--top--filters .jw--filter label { padding-top: 15px; }
	.select2-container .select2-choice { height: 30px; }
	
	.jw--add--area { margin: 15px -7px 0;  }
	
	/* item form and editor content */
	.jw--item--form { padding: 25px 10px; }
	.jw--editor--tab { padding: 10px; }
	.jw--editor--cnt { border: 0; padding: 10px 0 0; }
	
	/* buttons */
	.jw--btn, a.jw--btn, button.jw--btn, input[type="submit"].jw--btn { padding: 10px 15px; }
	#editor-xtd-buttons { width: 100%; padding-bottom: 0; margin-bottom: 0; }
	.btn-toolbar > .btn + .btn, .btn-toolbar > .btn-group + .btn, .btn-toolbar > .btn + .btn-group, .btn-toolbar > .btn { margin-bottom: 10px!important; margin-left: 0!important; display: block; width: 100%; }
	.toggle-editor { margin-top: 0!important; padding-top: 0!important; }
		.toggle-editor, .toggle-editor .btn-group { width: 100%; }
		.toggle-editor .btn-group .btn { display: block; width: 100%; }
		
}

@media only screen and (max-width: 569px){

	/* pagination */
	.jw--pagination ul li { display: none; }
	.jw--pagination ul li.jw--showvsmall { display: inline-block; }
	.jw--limit .select2-container.jw--limit--select { max-width: 50px; width: 50px;  }
	.jw--limit .select2-container.jw--limit--select .select2-choice { padding: 0 5px; }
	.jw--total .jw--total--block { padding: 18px 10px; }
	.jw--total .jw--total--block:last-child { padding-right: 0; }
	
	.jw--attachment--single, .row.jw--attachment--single { padding-right: 10px; }
	
	/*  the editor */
	ul.jw--tabs__content li, ul.jw--tabs li { text-align: center; width: 33%; }
	ul.jw--tabs__top li a { display: block; border-bottom: 1px solid #dedfdf; height: 64px; }

	/* extra fields */
	.jw--element--row label { margin-bottom: 5px; }
	.jw--element--row .jw--element--single { min-width: 100%; clear: both; overflow: hidden; }
		.jw--element--row .ov-hidden { width: 100%; }
		.jw--element--row .jw--element--single input[type="text"], 
		.jw--element--row .jw--element--single textarea { max-width: 275px; }
		.jw--element--row .jw--element--single input[type="text"].jw--small--input { margin-left: 0; margin-bottom: 10px; max-width: 186px; }
	
}

@media only screen and (max-width: 400px){

	/* item form */
	.jw--tabs__content li a { padding: 10px 5px; font-size: 13px; }

	/* filters */
	/*.jw--top--filters .jw--filter { width: 100%; }*/
	
	.jw--sidebar.jw--sidebar__open:after { content: ""; position: absolute; right: -418px; top: 0; background: rgba(0,0,0,.75); display: block; width: 150%; height: 100%; }
	
	/* item form fields - editor - extra fields */
	.jw--item--lbl { text-align: left!important; min-width: 100%; clear: both; }
	.jw--item--fld, .jw--item--tags { min-width: 100%; clear: both; }
	.jw--item--fld select { width: 100%; min-width: 100%; }
	.jw--item--input { max-width: 275px; }
	.jw--item--row { margin-bottom: 0; }
	.jw--tag--caption { margin-bottom: 20px; }
	.jw--editor--cnt .editor { max-width: 275px; }
	.jw--content--label { font-size: 15px; }
	
	/* button area */
	.jw--btn, a.jw--btn, button.jw--btn, input[type="submit"].jw--btn { padding: 10px; font-size: 12px; }
		
	/* revisions */
	.jw--editor--revisions { padding: 15px 10px; }
		
	/* settings */
	.jw--settings h2 { font-size: 16px; font-weight: 700; padding-bottom: 10px; margin-bottom: 0; border: 0; }
	.jw--settings fieldset label { min-width: 0; }
	
	/* generic forms */
	.jw--generic--form { padding: 25px 10px; }
		.jw--setting--field .jw--setting--single { padding: 8px; }
		.jw--setting--field .jw--setting--single > .left,
		.jw--setting--field .jw--setting--single > .right { min-width: 100%; clear: both; }
		.jw--settings.jw--generic--form input[type="text"], 
		.jw--settings.jw--generic--form input[type="password"], 
		.jw--settings.jw--generic--form input[type="email"] { width: 275px; }
		
}