@media only screen and (max-width: 1250px){
	/* item form -- tabs */
	.jw--tabs__top a { padding: 20px 14px; font-size: 17px; }
	
	/* filters */
	.jw--filters { width: 100%; border-top: 1px solid #dbdcdc; }
	.jw--top--filters .jw--filter { width: 16.66%; }
	.select2-container .select2-choice, .select2-container { min-width: 0; width: 100%; }

}

@media only screen and (max-width: 1025px){
	ul.jw--tabs { text-align: left!important; }
}

@media only screen and (max-width: 900px){
	
	#k2--id { display: none; }
	
	/* item form -- tabs */
	.jw--tabs__top a { padding: 15px 10px; font-size: 15px; }
	.jw--tabs__top .fa { display: none; }
	.jw--tabs__content li a { padding: 10px; }
		
	/* the form fields */
	.jw--item--row { margin-bottom: 0; }
	.jw--item--fld, .jw--item--tags { margin-bottom: 20px; } 
	.jw--item--fld__multi { margin-bottom: 20px; min-width: 100%; }

	/* menu */
	ul.jw--main--menu > li > a, ul.jw--main--menu .jw--sep { padding: 22px 10px; }
}

@media only screen and (max-width: 767px){

	/* visibility */
	body { padding-left: 0!important; padding-right: 0!important; }
	body .navbar-fixed-top, body .navbar-fixed-bottom, body .navbar-static-top { margin-left: 0; margin-right: 0; }
	ul.jw--main--menu .fa, .jw h3.jw--title { display: none; }
	
	/* remove all fixed instances */
	.jw--header { position: static; width: auto; }
	.jw--subheader { position: static; border: 0; }
	.jw--component { padding-top: 0; padding-left: 0; min-width: 100%; clear: both;}
	.jw--pagination { position: static; height: auto; }
	
	/* sidebar styling */
	.jw--sidebar { left: 0; position: relative; min-width: 100%; top: 0; }
	
	/* item form */
	.jw--item--form { padding: 25px 10px; }
	.jw--tabs__content .fa { display: none; }
	.jw--item--row__single, .jw--item--input { min-width: 100%; clear: both; }
	
	.jw--scrollwrapper { display: none; }
	.jw--settings__global { padding: 38px 10px; }
 
	/* filters */
	.jw--top--filters .jw--filter { width: 33.3333%; border-bottom: 1px solid #dbdcdc; }
	
	/* Settings */
	.jw--hits, .jw--reset--wrap { margin-left: 0; }
	.jw--settings fieldset, .jw--settings select, .jw--settings input[type="text"], .jw--settings input[type="password"], .jw--settings textarea { min-width: 100%; max-width: 100%; margin-top: 5px; }
	.jw--settings fieldset { padding-left: 0; }
	
}

@media only screen and (max-width: 600px){
	
	h1.jw--logo { margin-bottom: 15px; }
	/* add area */
	.jw--add--area { float: none!important; margin: 15px -12px 0; width: auto; overflow: hidden; }
	
	/* filters */
	.jw--top--filters .jw--filter { width: 50%; }
	
	/* item form and editor content */
	.jw--item--form { padding: 25px 10px; }
	
	.jw--editor--tab { padding: 10px; }
	.jw--editor--cnt { border: 0; padding: 10px 0 0; }

}

@media only screen and (max-width: 400px){

	/* item form */
	.jw--tabs__content li a { padding: 10px 5px; font-size: 13px; }

	/* filters */
	.jw--top--filters .jw--filter { width: 100%; }
	
	/* item form fields - editor - extra fields */
	.jw--item--lbl { text-align: left!important; min-width: 100%; }
	.jw--item--fld, .jw--item--tags { min-width: 100%; clear: both; }
	.jw--item--fld select { width: 100%; min-width: 100%; }
	.jw--item--input { max-width: 275px; }
	.jw--item--row { margin-bottom: 0; }
	.jw--tag--caption { margin-bottom: 20px; }
	.jw--editor--cnt .editor { max-width: 275px; }
	.jw--content--label { font-size: 15px; }
	
	/* extra fields */
	.jw--element--row label { margin-bottom: 5px; }
	.jw--element--row .jw--element--single { min-width: 100%; clear: both; }
		.jw--element--row .jw--element--single input[type="text"], 
		.jw--element--row .jw--element--single textarea { max-width: 275px; }
		.jw--element--row .jw--element--single input[type="text"].jw--small--input { margin-left: 0; margin-bottom: 10px; max-width: none; }
	
	/* revisions */
	.jw--editor--revisions { padding: 15px 10px; }
	
	/*  the editor */
	ul.jw--tabs__content li { text-align: center; width: 33.3333%; }
	
	/* settings */
	.jw--settings h2 { font-size: 16px; font-weight: 700; padding-bottom: 10px; margin-bottom: 0; border: 0; }
	.jw--settings fieldset label { min-width: 0; }
	
	/* generic forms */
	.jw--generic--form { padding: 25px 10px; }
		.jw--setting--field .jw--setting--single { padding: 8px; }
		.jw--setting--field .jw--setting--single > .left,
		.jw--setting--field .jw--setting--single > .right { min-width: 100%; clear: both; }
		.jw--settings.jw--generic--form input[type="text"], 
		.jw--settings.jw--generic--form input[type="password"], 
		.jw--settings.jw--generic--form input[type="email"] { width: 275px; }
}