/* ------------------------------------------------------------------
[Scrollspy menu] - global for all setting views */
.jw--scrollwrapper { background: #fff; border-right: 1px solid #e3e4e4; z-index: 8; position: fixed; left: 46px; bottom: 30px; top: 139px; width: 326px; overflow: auto;  }
.jw--scrollspymenu { list-style: none outside none; margin: 0; padding: 15px 0; }
	.jw--scrollspymenu li { display: block; }
	.jw--scrollspymenu li a {  line-height: 1; display: block;  }
	.jw--scrollspymenu li a.jw--scroll__primary { font-size: 16px; color: #00afec; padding: 14px 28px; }
	.jw--scrollspymenu li a.jw--scroll__sec { font-size: 13px; padding: 12px 28px; }
		.jw--scrollspymenu li a.jw--scroll__sec h4 { margin: 0; padding: 0; line-height: 1.25; font-size: 13px; }
		.jw--scrollspymenu li a.jw--scroll__sec:hover { background: #f7f7f7; }

/* ------------------------------------------------------------------
[Settings form] - global setting form */
.jw--settings {  }
	.jw--settings__global { padding: 38px 26px 38px 350px; }
	
	.jw--settings h3 { font-size: 24px; font-weight: 300; padding-bottom: 16px; margin-bottom: 25px; border-bottom: 2px solid #dddedf; }
	.jw--settings h4 { background: #e5f7fd; border-radius: 3px; line-height: 1; padding: 18px 25px; color: #346b93; font-size: 18px; }
	.jw--settings label {  }
		
		/* single field */
		.jw--setting--field { margin-bottom: 60px; }
		.jw--setting--field, .jw--setting--single { overflow: hidden; }
		.jw--setting--field .jw--setting--single { padding: 8px 12px 8px 25px; border-radius: 3px; font-size: 16px; }
		.jw--setting--field .jw--setting--single:nth-child(2n-2) { background: #f7f7f7; }
		
		.jw--setting--field .jw--setting--single > label { font-size: 13px; font-weight: 700; color: #777778; padding: 10px 0; line-height: 1; display: inline-block; margin: 0; }
		.jw--settings fieldset, .jw--settings select, .jw--settings input[type="text"], .jw--settings input[type="password"], .jw--settings textarea { float: right; }
		
		/* Form elements */
		.jw--settings input[type="text"], .jw--settings input[type="password"] { height: 36px; line-height: 36px; width: 164px; padding: 0 10px; margin: 0; }
		.jw--settings select { height: 34px; line-height: 34px; width: 164px; background: #f0f2f2; box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 1px 0 #fff; margin: 0; }
		.jw--settings textarea { min-width: 300px; border-radius: 3px; padding: 5px 10px; } 
		
		.jw--settings fieldset label { min-width: 85px; width: auto; text-align: center; border: 1px solid #d4d6d8; line-height: 33px; vertical-align: top; height: 33px; font-size: 12px; margin: 0 -2px; padding: 0 13px;
	color: #8a8c8c; display: inline-block; vertical-align: middle; white-space: nowrap; background-color: #eff1f1;
	box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 1px 0 #fff;
	-webkit-transition:all 350ms cubic-bezier(0.730, 0, 0.445, 1.000);
	-webkit-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
	   -moz-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
		-ms-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
	     -o-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
			transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
		}
		.jw--settings fieldset label:hover { cursor: pointer; box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 0 10px rgba(0,0,0,.15); }
		.jw--settings fieldset label:first-of-type { border-radius: 3px 0 0 3px; }
		.jw--settings fieldset label:last-child { border-radius: 0 3px 3px 0; }
		.jw--setting--single input[type="radio"] { position: absolute; clip: rect(0,0,0,0); }
		/* enabled/ disabled settings */
		.jw--setting--single input[value="0"]:checked + label { background: #bd362f; color: #fff; box-shadow: 0 1px 1px rgba(65,64,66,.14); }
		.jw--setting--single input[value="1"]:checked + label { background: #3fa800; color: #fff; box-shadow: 0 1px 1px rgba(65,64,66,.14); }
		
