/*------------------------------------------------------------------
[Sidebar Styling] */

.jw--sidebar { width: 300px; border-left: 1px solid #dbdcdc; top: 61px; bottom: 10px; left: 0; height: 100%; position: absolute; width: 46px; overflow: hidden; z-index: 9; }
	.jw--sidebar--text { width:254px; overflow:auto; padding:0 0 20px ;height:100%; }


	/* opened state */
	.jw--sidebar.jw--sidebar__open { width:300px; border-left:1px solid #dbdcdc; }

	/* menu  -- navigation.css */
	.jw--sidebar {  }

	/* The handle/ toggler */
	.jw--sidebar--handle { width:46px; height:100%; text-align:center; overflow:hidden; border-left:1px solid #dbdcdc; border-right:1px solid #dbdcdc;position:absolute;right:0;top:0;}
		
		.jw--sidebar--handle .jw--sidebar--toggle:link,
		.jw--sidebar--handle .jw--sidebar--toggle:visited { color:#636b6e; width:32px; margin: 15px auto; font-size:19px; text-align:center; display:block;}

/* Filters */
.jw--sidebar .jw--filters { border-top: 1px solid #d0d0d0;position:absolute;left:0; padding: 13px 15px 0; bottom: 90px; width: 255px; }
					
	/* J! 3/ Bootstrap fixes */
	.jw--filters label.jw--radio { padding-left: 0; margin-bottom: 0;} 
	.controls > .jw--radio:first-child, 
	.controls > .checkbox:first-child { padding-top: 0; }
	.jw--sidebar .jw--filters div.controls { display: inline-block; vertical-align: middle; margin-bottom: 0; }
	/* /\/\ */
	.jw--sidebar .jw--filter { margin: 0 0 13px; }

	/* reset filters  */
	button#jw--filters--reset { display: block; float: right; text-align: right; font-size: 11px; margin: 0 -2px 5px 0; padding-right: 0; }
	button#jw--filters--reset i { font-size: 18px; line-height: 1; color: #acacac; display: inline-block; vertical-align: middle; }

	/* pagination filters */
	.jw--pagination--mode { position: absolute; border-top: 1px solid #dbdcdc; padding: 8px 6px; height: 45px;
left: 0; bottom: 45px; width: 255px; }
	.jw--pagination--mode input[type="radio"] { opacity: 0; }
	.jw--pagination--mode > span { font-size: 11px; display: inline-block; vertical-align: middle; margin-right: 3px; }

/* Layout switch */
.jw--thumbsbar { position: absolute; left: 0; bottom: 0; width: 45px; height: 90px; }
	button.jw--layout--btn { display: block; font-size: 19px; width: 45px; height: 45px; line-height: 45px; border-top: 1px solid #dbdcdc; margin: 0; padding: 0;  }
	button.jw--layout--btn .fa {  }
	/* active layout */
	button.jw--layout--btn:hover,
	button.jw--layout--btn.jw--layout-btn__active { background: #00afec; color: #fff; }







