/*------------------------------------------------------------------
[Sidebar Styling] */

.jw--sidebar { width: 320px; left: -274px; border-left: 1px solid #dbdcdc; overflow: hidden; }
	.jw--sidebar--text { width:274px; overflow:auto; padding:0 0 20px ;height:100%; }


	/* opened state */
	.jw--sidebar.jw--sidebar__open { left:0; border-left:1px solid #dbdcdc; }
		.jw--sidebar.jw--sidebar__open .jw--sidebar--text { display: block; }

	/* menu located -- navigation.css */

	/* The handle/ toggler */
	.jw--sidebar--handle { width:46px; height:100%; text-align:center; overflow:hidden; border-left:1px solid #dbdcdc; border-right:1px solid #dbdcdc;position:absolute;right:0;top:0;}
		
		.jw--sidebar--handle .jw--sidebar--toggle { color:#636b6e; width:32px; margin: 15px auto; font-size:19px; text-align:center; display:block;}

/* Filters */
.jw--sidebar .jw--filters { border-top: 1px solid #d0d0d0;position:absolute;left:0; padding: 13px 15px 0; bottom: 102px; width: 275px; }

	/* /\/\ */
	.jw--sidebar .jw--filter { margin: 0 0 13px; }

	/* reset filters  */
	button#jw--filters--reset { display: block; float: right; text-align: right; font-size: 11px; margin: 0 -2px 5px 0; padding-right: 0; }
	button#jw--filters--reset i { font-size: 18px; line-height: 1; color: #acacac; display: inline-block; vertical-align: middle; }

	/* pagination filters */
	.jw--pagination--mode { position: absolute; border-top: 1px solid #dbdcdc; padding: 8px 6px; min-height: 45px;
left: 0; bottom: 55px; width: 275px; }
		.jw--pagination--mode label:first-of-type { border-radius: 3px 0 0 3px; }
		.jw--pagination--mode .jw--radio:last-child { border-radius:  0 3px 3px 0; }
		.jw--pagination--mode input[type="radio"] { opacity: 0; }
		.jw--pagination--mode > span { font-size: 11px; display: inline-block; vertical-align: middle; line-height: 1; margin-right: 15px; }

/* Layout switch */
.jw--thumbsbar { position: absolute; left: 0; bottom: 0; width: 45px; }
	button.jw--layout--btn { display: block; font-size: 19px; width: 45px; height: 50px; line-height: 45px; border-top: 1px solid #dbdcdc; margin: 0; padding: 0;  }
	button.jw--layout--btn .fa {  }
	/* active layout */
	button.jw--layout--btn:hover,
	button.jw--layout--btn.jw--layout-btn__active { background: #00afec; color: #fff; }







