.jw { font-family: 'Open Sans', sans-serif; font-size: 100%; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }
.jw a { text-decoration: none; color: #636b6e; }
	.jw a:hover { text-decoration: none; }

.blue { color: #00afeb; }
.jw--green { color: #3fa800; font-weight: 600; }
.jw--red { color: #bd362f; font-weight: 600; }

/* Headings */
.jw h1, .jw h2, .jw h3, .jw h4, .jw h5, .jw h6 {  font-family: 'Open Sans', sans-serif; font-weight: 400; }
	.jw h1 { margin: 0; padding: 0; } 
	.jw h2 { } 
	.jw h3 { }
	.jw h3.jw--title { border-left: 5px solid #00afeb; padding-left: 15px; margin: 0; height: 45px; line-height: 45px; }
	.jw h4 { } 
	.jw h5 { }
	.jw h6 { }

.jw ul {  }
	.jw ul li {  }
	.jw ul.list-reset { list-style: none outside none; }
	
	ul.jw--bordered {  }
		ul.jw--bordered > li { overflow: hidden; border-bottom: 1px solid #dbdcdc; }
	
	/* generic list classes */
	.jw ul.no_brd { border: 0; }
	.jw ul.no_btmbrd { border-bottom: 0; }
	.jw ul.top_brd { border-top: 1px solid #dbdcdc; }

.jw ol {  }
	.jw ol li {  }

img {-ms-interpolation-mode:bicubic; max-width: 100%; }

/* re-usable stuff */
.text-center { text-align: center!important; }
.text-left { text-align: left!important; }
.text-right { text-right: center!important; }

/* Form elements */
.jw input, .jw input:focus {outline:0;}
.jw input[type="checkbox"] {border:0; margin: 0;}

.jw button { margin: 0; background: transparent; border: 0; text-decoration: none; }
.jw .jw--readonly { opacity: 0.75;  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; }
	.jw .jw--readonly:hover { cursor: not-allowed; }
	.jw .jw--readonly:focus { box-shadow: 0 0 transparent; border: 1px solid #cdcdcd; }

/* Labels with radio buttons (custom element) */
.jw .controls { display: inline-block; vertical-align: middle; }
.jw label.jw--radio, .jw .controls label.radio {  
	min-width: 42px; width: auto; text-align: center; border: 1px solid #d4d6d8; padding: 0 13px; font-size: 12px; font-weight: 700; line-height: 33px; vertical-align: top; height: 33px; margin: 0 -2px; color: #8a8c8c; display: inline-block; vertical-align: middle; white-space: nowrap; background-color: #eff1f1;
	box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 1px 0 #fff;

	-webkit-transition:all 350ms cubic-bezier(0.730, 0, 0.445, 1.000);
	-webkit-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
	   -moz-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
		-ms-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
	     -o-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
			transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
}
/* smaller ones */
.jw .jw--sidebar label.jw--radio, .jw--sidebar .jw .controls label.radio { font-weight: 400; padding: 0 7px; }
	/* Checked */
	.jw label.jw--radio.jw--radio__checked,
	.jw .controls label.radio.jw--radio__checked { color: #fff; border: 1px solid #828080; background:  #63696f; box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 1px 0 #363a3d; }

	/* smaller labels */
	.jw label.jw--radio.jw--radio__smaller { line-height: 26px; height: 26px; font-size: 11px; margin: 0 -2px; padding: 0 10px; white-space: nowrap; }

	/* labels in a row */
	.jw--filter .jw--radio:first-child, .jw .controls label.radio:first-child, .jw--filter .jw--radio:nth-child(1) { border-radius: 3px 0 0 3px; }
	.jw--filter .jw--radio:last-child, .jw .controls label.radio:last-child { border-radius: 0 3px 3px 0; }

	/* now hide the radio buttons using opacity and position absolute */
	.jw .jw--radio input[type="radio"],
	.jw .controls label.radio input[type="radio"] { opacity: 0; width: 1px; height: 1px; position: absolute; left: -9999px; overflow: hidden; line-height: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

	/* active && hover states */
	.jw label.jw--radio.btn:hover,
	.jw label.jw--radio:hover { cursor: pointer; box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 0 10px rgba(0,0,0,.15); }
	.jw label.jw--radio:active,
	.jw label.jw--radio:focus, { cursor: pointer; box-shadow: inset 0 0 12px rgba(0,0,0,.35); }

	/* label with heading */
	.jw label.jw--radio--title { display: block; font-size: 13px; font-weight: 700; min-width: 78px; height: 35px; line-height: 35px; padding: 0; color: #636b6e; }
	.jw label.jw--radio--title_inl { display: inline-block; vertical-align: middle; margin-right: 10px; }
	jw label.jw--radio--title ~ label { border-radius: 3px 3px 0 0; }


/* Circled radio buttons */
.jw--radio__circled { width: 16px; height: 16px; border: 1px solid #636b6d; border-radius: 10px; background-color: #fff; display: inline-block; vertical-align: top; margin-right: 5px; line-height: 1; }
	.jw--radio__circled .inner--circle { display: none; width: 8px; height: 8px; border-radius: 6px; background-color: #00afec; }
	input[type="radio"]:checked ~ .jw--radio__circled .inner--circle { display: inline-block; }


/* Semi transparent togglers (check buttons) */
.jw--check--wrapper { position: absolute; display: inline-block; z-index: 4; left: 0; top: 0; background-color: #636b6e; background-color: rgba(50,50,50,.5); border-radius: 3px 0; padding: 12px; }
	.jw--checkbox {  }

/* Featured (star) and Published (check) toggle */
a.jw--state--toggler { display: inline-block; vertical-align: middle; line-height: 1; font-size: 19px; }
a.jw--state--toggler:first-child { margin-right: 5px; }
	a.jw--state--toggler:hover { cursor: pointer; }
	
	/* specific toggles and active states */
	a.jw--state--toggler__feat.toggler--active  { color: #f59331; }
	a.jw--state--toggler__pub.toggler--active { color: #3fa800; }

/* Custom Checkboxes */
.jw--checkbox {   padding: 0; display: block; margin: 0 auto; position: relative; z-index: 1; -webkit-backface-visibility: hidden;
cursor: pointer; width: 16px; height: 16px; border: 1px solid #dbdcdc; border: 1px solid rgba(99,107,110,.25); border-radius: 3px; background-color: #fff; }
.jw--checkbox:hover, .jw--checkbox input[type="checkbox"]:hover { cursor: pointer; }

.jw--checkbox input[type="checkbox"] { position: absolute; z-index: 4; width: 100%; height: 100%; opacity: 0; }
	.jw--checkbox input[type="checkbox"]:checked {  }
	.jw--checkbox .fa { display: none; color: #00afec; font-size: 16px; position: relative; z-index: 3; top: -2px; left: 1px; }
	.jw--checkbox input[type="checkbox"]:checked ~ .fa { display: block; }

/* 
---------------------------------
Radios with controls (native j3 elements) - Bootstrap support  */
.btn-group-yesno {  }
	.btn-group-yesno label { min-width: 42px; width: auto; text-align: center; border: 1px solid #d4d6d8; line-height: 33px; vertical-align: top; height: 33px; font-size: 12px; margin: 0 -2px; padding: 0 7px;
	color: #8a8c8c; display: inline-block; vertical-align: middle; white-space: nowrap; background-color: #eff1f1;
	box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 1px 0 #fff;

	-webkit-transition:all 350ms cubic-bezier(0.730, 0, 0.445, 1.000);
	-webkit-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
	   -moz-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
		-ms-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
	     -o-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
			transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
	}
	.btn-group-yesno label:hover { cursor: pointer; box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 0 10px rgba(0,0,0,.15); }

	.btn-group-yesno label:first-child { border-radius: 3px 0 0 3px; }
	.btn-group-yesno label:last-child { border-radius: 0 3px 3px 0; }
	
	/* Checked state */
	.btn-group-yesno input[value="0"]:checked + label { background: #bd362f; color: #fff; box-shadow: 0 1px 1px rgba(65,64,66,.14); }
	.btn-group-yesno input[value="1"]:checked + label { background: #3fa800; color: #fff; box-shadow: 0 1px 1px rgba(65,64,66,.14); }


/* 
---------------------------------
Buttons */
.jw--btn, a.jw--btn, button.jw--btn, input[type="submit"].jw--btn, .jw--generic--def button { display: inline-block; vertical-align: middle; white-space: nowrap; color: #fdfdfd; font-size: 13px; line-height: 1; padding: 10px 30px; font-weight: 700; border: 1px solid #363a3d; border-radius: 3px; background-color: #3fa700; position: relative;
	box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 1px 0 #54db00;
	-webkit-transition:all 350ms cubic-bezier(0.730, 0, 0.445, 1.000);
	-webkit-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
	   -moz-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
		-ms-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
		 -o-transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000);
		 	transition:all 350ms cubic-bezier(0.730, -0.005, 0.445, 1.000)
}
	.jw--btn:hover, a.jw--btn:hover, button.jw--btn:hover, 
	input[type="submit"].jw--btn:hover { background-color: #54db00; cursor: pointer; }

	/* Specific Buttons */
	.jw--btn.jw--btn__cancel, a.jw--btn.jw--btn__cancel, button.jw--btn.jw--btn__cancel, input[type="submit"].jw--btn.jw--btn__cancel { border-color: #a53222; background-color: #d7412d; box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 1px 0 #ff4d35;  }
	.jw--btn.jw--btn__cancel:hover, a.jw--btn.jw--btn__cancel:hover, button.jw--btn.jw--btn__cancel:hover, 
	input[type="submit"].jw--btn.jw--btn__cancel:hover { background-color:#ff4d35; }

	.jw--btn.jw--btn__apply, a.jw--btn.jw--btn__apply, button.jw--btn.jw--btn__apply, input[type="submit"].jw--btn.jw--btn__apply, 
	.jw--generic--def button { border-color: #0088ba; background-color: #009bd3; box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 1px 0 #00baff; }
	.jw--btn.jw--btn__apply:hover, a.jw--btn.jw--btn__apply:hover, button.jw--btn.jw--btn__apply:hover, input[type="submit"].jw--btn.jw--btn__apply:hover { background-color: #00baff; }
	
	/* action buttons - used in itemforms */
	.jw--btn.jw--btn__item, a.jw--btn.jw--btn__item, button.jw--btn.jw--btn__item, input[type="submit"].jw--btn.jw--btn__item { color: #414042; border-color: #d4d7d9; background-color: #f0f2f2; box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 1px 0 #fff; }
	.jw--btn.jw--btn__item:hover, a.jw--btn.jw--btn__item:hover, button.jw--btn.jw--btn__item:hover, input[type="submit"].jw--btn.jw--btn__item:hover { background-color: #d4d7d9; }
		.jw--btn.jw--btn__item .fa { display: inline-block; vertical-align: middle; color: #a9aeb0; font-size: 19px; line-height: 1; padding-right: 12px; }
		.jw--btn.jw--btn__item span { display: inline-block; vertical-align: middle; line-height: 1; }

/* Button with icon */
.jw--btn.jw--btn__icon { padding-left: 43px; padding-right: 13px; }
	.jw--btn.jw--btn__icon .fa { font-size: 17px; position: absolute; left: 0; top: 0; text-align: center; width: 33px; line-height: 36px; text-align: center; height: 100%; border-right: 1px solid rgba(0,0,0,.3); }
	.jw--btn.jw--btn__icon .fa:after { content: ""; position: absolute; right: 0; width: 1px; height: 100%; background-color: rgba(255,255,255,.3); }

/* Button rows */
.jw--button--row .jw--btn { margin-left: 10px; }
.jw--button--row__left .jw--btn:first-child { margin-left: 0; }

/* Collapse */
.jw--button--collapse { overflow: hidden; }
	.jw--button--collapse .jw--btn { float: left; clear: both; margin-bottom: 15px; }

/*------------------------------------------------------------------
[Messages] */

.jw--messages {  }
	.jw--messages ul { list-style: none outside none; margin: 0; padding: 0; }

/*------------------------------------------------------------------
[Responsive Tables] */
.table-responsive-wrap { position: relative; }
	.table-responsive { width: 100%; margin-bottom: 15px; overflow-x: scroll; overflow-y: hidden; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar; }
		.table-responsive:after { content: ""; width: 13px; height: 100%; position: absolute; top: 0; right: 0; background: url(img/res-table-bg.png) repeat-y 0 0; }
		.table-responsive > .table { margin-bottom: 0; }



