<form>

    <label for="name"><%= l('K2_NAME') %></label>
    <input type="text" name="name" id="name" value="<%- row.name %>" />

    <label for="scope"><%= l('K2_SCOPE') %></label>
    <%= form.scope %>
    
    <label><%= l('K2_ALL') %>
        <input type="radio" name="assignments[mode]" value="all" />
    </label>
    <label><%= l('K2_SELECT_FROM_LIST') %>
        <input type="radio" name="assignments[mode]" value="specific" />
    </label> 
    <label><%= l('K2_NONE') %>
        <input type="radio" name="assignments[mode]" value="none" />
    </label> 
        
    <div data-region="extra-field-group-assignements"></div>

    <input type="hidden" name="id" value="<%= row.id %>" / >
    
    <% _.each(form.jform, function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
   
</form>