<div class="jw--listed--items">
    <ul class="jw--items--header">
        <li class="small-1 large-1 columns"><label title="<%- l('K2_SELECT_ALL') %>">
                <input data-action="toggle-all" type="checkbox" />
            </label>
        </li>
        <li class="small-12 large-8 columns"><a data-action="sort" data-sorting="name"><%= l('K2_NAME') %></a></li>
        <li class="small-4 large-7 columns"><a data-action="sort" data-sorting="id.reverse"><%= l('K2_ID') %></a></li>
    </ul>
    
    <div data-region="list"></div>
</div>
