<form class="jw--settings jw--generic--form jw--tag--form">
	<div class="jw--setting--field">
	
		<div class="jw--setting--single">
		    <label class="left" for="name"><%= l('K2_NAME') %></label>
		    <div class="right">
		    	<input type="text" name="name" id="name" value="<%- row.name %>" />
		    </div>
		</div>
		
		<div class="jw--setting--single">
		    <label class="left"><%= l('K2_STATE') %></label>
		    <div class="right jw--state">
		    	<%= form.state %>
			</div>
		</div>
		    
	    <!-- Extra Fields -->
	    <div class="jw--generic--def" data-region="tag-extra-fields"></div>

	
	    <input type="hidden" name="id" value="<%= row.id %>" / >
	    
	    <% _.each(form.jform, function(field) { %>
		<div class="jw--setting--single">
			<div class="left">
		    	<%= field.label %>
		    </div>
		    
		    <div class="right">
		    	<%= field.input %>
		    </div>
		</div>
	    <% }); %>
	    
	</div>
</form>