<form id="k2TagForm" class="appEditForm">

    <label for="name"><%= l('K2_NAME') %></label>
    <input type="text" name="name" id="name" value="<%- row.name %>" />

    <label><%= l('K2_PUBLISHED') %></label>
    
    <label> <%= l('K2_YES') %>
        <input type="radio" name="published" value="1" />
    </label>
    <label> <%= l('K2_NO') %>
        <input type="radio" name="published" value="0" />
    </label>
    
    <!-- Extra Fields -->
    <div id="appTagExtraFields"></div>

    <input type="hidden" name="id" value="<%= row.id %>" / >
    
    <% _(form.jform).each(function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
   
</form>