<h1>Tags</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <td class="jwCheckboxHolder">
                <label for="jwRowsToggler" class="jwCheckbox" title="Select All">
                    <input id="jwRowsToggler" type="checkbox" />
                </label>
            </td>
            <td><a class="jwSortingButton" data-sorting="name">Name</a></td>
            <td class="jwTextCenter"><a class="jwSortingButton" data-sorting="published">Published</a></td>
            <td><a class="jwSortingButton" data-sorting="id">ID</a></td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
