<div>
    <div>
        <ul>
            <li><label title="<%- l('K2_SELECT_ALL') %>">
                    <input data-action="toggle-all" type="checkbox" />
                </label>
            </li>
            <li><a data-action="sort" data-sorting="name"><%= l('K2_NAME') %></a></li>
            <li><a data-action="sort" data-sorting="state"><%= l('K2_STATE') %></a></li>
            <li><%= l('K2_ITEMS') %></li>
            <li><a data-action="sort" data-sorting="id"><%= l('K2_ID') %></a></li>
        </ul>
    </div>
    <div data-region="list"></div>
</div>
