<table class="table table-striped">
    <thead>
        <tr>
            <td><label for="appRowsToggler" class="appCheckbox" title="<%- l('K2_SELECT_ALL') %>">
                    <input id="appRowsToggler" type="checkbox" />
                </label>
            </td>
            <td><a class="appActionSort" data-sorting="name"><%= l('K2_NAME') %></a></td>
            <td><a class="appActionSort" data-sorting="state"><%= l('K2_STATE') %></a></td>
            <td><a class="appActionSort" data-sorting="id"><%= l('K2_ID') %></a></td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
