<td class="appCheckboxHolder"><label for="appCheckBox<%= id %>" class="appCheckbox">
    <input class="appRowToggler" name="id[]" id="appCheckBox<%= id %>" value="<%= id %>" type="checkbox" />
</label></td>
<td class="appSlideTitleInfo"><span class="appInlineEdit" data-attribute="name"><%= name %><span> </td>
<td class="appTextCenter"><a class="appStateToggler appPublishToggler<%= published == 1 ? ' appTogglerActive' : '' %>" data-state="published" data-id="<%= id %>"><i class="appicon-check"></i>(<%= published %>)</a></td>
<td><%= id %></td>
