<form id="k2CategoryForm" class="appEditForm">

    <label for="title"><%= l('K2_TITLE') %></label>
    <input type="text" name="title" id="title" value="<%- row.title %>" />

    <label for="alias"><%= l('K2_ALIAS') %></label>
    <input type="text" name="alias" id="alias" value="<%- row.alias %>" />

    <label for="parent_id"><%= l('K2_PARENT') %></label>
    <%= form.parent %>
    
    <label for="inheritance"><%= l('K2_INHERITANCE') %></label>
    <%= form.inheritance %>
    
    <label for="template"><%= l('K2_TEMPLATE') %></label>
    <%= form.template %>

    <label><%= l('K2_PUBLISHED') %></label>
    
    <label> <%= l('K2_YES') %>
        <input type="radio" name="published" value="1" <%= (row.published > 0) ? 'checked="checked"': '' %>/>
    </label>
    <label> <%= l('K2_NO') %>
        <input type="radio" name="published" value="0" <%= (row.published < 1) ? 'checked="checked"': '' %> />
    </label>

    <label for="access"><%= l('K2_ACCESS') %></label>
    <%= form.access %>

    <label for="language"><%= l('K2_LANGUAGE') %></label>
    <%= form.language %>

    <label for="created_by_alias"><%= l('K2_AUTHOR_ALIAS') %></label>
    <input id="created_by_alias" type="text" name="created_by_alias" value="<%- row.created_by_alias %>" />

    <label for="createdDate"><%= l('K2_CREATED_DATE') %></label>
    <input class="appDatePicker" id="createdDate" type="text" name="createdDate" value="<%- row.createdDate %>" />
    <label for="createdTime"><%= l('K2_CREATED_TIME') %></label>
    <input class="appTimePicker" id="createdTime" type="text" name="createdTime" value="<%- row.createdTime %>" />

    <div>
        <span><%= l('K2_MODIFIED_DATE') %></span><span><%= row.modifiedOn %></span>
    </div>
    <label><%= l('K2_AUTHOR') %></label>
    <input id="appCategoryAuthor" type="hidden" name="created_by" value="<%- row.created_by %>" />
    <span><%= row.authorName %></span>
    <div>
        <span><%= l('K2_MODERATOR') %></span>
        <span><%= row.moderatorName %></span>
    </div>
    
    <label for="appCategoryImageFile"><%= l('K2_IMAGE') %></label>
    <input type="file" id="appCategoryImageFile" name="imageFile" />
    <input type="hidden" id="appCategoryImageValue" name="image"  />
    <button id="appCategoryImageBrowseServer"><%= l('K2_BROWSE_SERVER') %></button>
    
    <div class="appCategoryImagePreviewContainer">
        <img alt="<%- l('K2_PREVIEW') %>" id="appCategoryImagePreview" />
        <button id="appCategoryImageRemove"><%= l('K2_REMOVE_IMAGE') %></button>
    </div>
    
    
    
    <label for="description"><%= l('K2_DESCRIPTION') %></label> <%= form.description %>
    
    <input type="hidden" name="tmpId" value="<%= row.tmpId %>" / >
    <input type="hidden" name="id" value="<%= row.id %>" / >
    
    <% _(form.jform).each(function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
    <h2><%= l('K2_METADATA') %></h2>
    <% _(form.metadata).each(function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
    <h2><%= l('K2_CATEGORY_LAYOUT_OPTIONS') %></h2>
    <% _(form.categoryLayoutOptions).each(function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
    <h2><%= l('K2_CATEGORY_VIEW_OPTIONS') %></h2>
    <% _(form.categoryViewOptions).each(function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
    <h2><%= l('K2_CATEGORY_IMAGE_OPTIONS') %></h2>
    <% _(form.categoryImageOptions).each(function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
    <h2><%= l('K2_LISTING_OPTIONS') %></h2>
    <% _(form.listingOptions).each(function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
    <h2><%= l('K2_ITEM_OPTIONS') %></h2>
    <% _(form.itemOptions).each(function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
    <h2><%= l('K2_PERMISSIONS') %></h2>
    <% _(form.permissions).each(function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
</form>