<form id="k2CategoryForm" class="appEditForm">

    <label for="title"><%= l('K2_TITLE') %></label>
    <input type="text" name="title" id="title" value="<%- row.title %>" />

    <label for="alias"><%= l('K2_ALIAS') %></label>
    <input type="text" name="alias" id="alias" value="<%- row.alias %>" />

    <label for="parent_id"><%= l('K2_PARENT') %></label>
    <%= form.parent %>
    
    <label for="inheritance"><%= l('K2_INHERITANCE') %></label>
    <%= form.inheritance %>
    
    <label for="template"><%= l('K2_TEMPLATE') %></label>
    <%= form.template %>

    
    <% if(row.canEditState) { %>
    <label><%= l('K2_STATE') %></label>
    <%= form.state %>
    <% } %>

    <label for="access"><%= l('K2_ACCESS') %></label>
    <%= form.access %>

    <label for="language"><%= l('K2_LANGUAGE') %></label>
    <%= form.language %>

    <label for="created_by_alias"><%= l('K2_AUTHOR_ALIAS') %></label>
    <input id="created_by_alias" type="text" name="created_by_alias" value="<%- row.created_by_alias %>" />

    <label for="createdDate"><%= l('K2_CREATED_DATE') %></label>
    <input id="createdDate" data-widget="datepicker" type="text" name="createdDate" value="<%- row.createdDate %>" />
    <label for="createdTime"><%= l('K2_CREATED_TIME') %></label>
    <input id="createdTime" data-widget="timepicker" type="text" name="createdTime" value="<%- row.createdTime %>" />

    <div>
        <span><%= l('K2_MODIFIED_DATE') %></span><span><%= row.modifiedOn %></span>
    </div>
    
    <label><%= l('K2_AUTHOR') %></label>
    <input data-widget="user" data-min="1" data-name="<%- row.authorName %>" type="hidden" name="created_by" value="<%- row.created_by %>" />
    
 
    <div>
        <span><%= l('K2_MODERATOR') %></span>
        <span><%= row.moderatorName %></span>
    </div>
    
    <!-- Image -->
    <div id="appCategoryImage"></div>
    
    <!-- Extra Fields -->
    <div id="appCategoryExtraFields"></div>
    
    
    <label for="description"><%= l('K2_DESCRIPTION') %></label> <%= form.description %>
    
    <input type="hidden" name="id" value="<%= row.id %>" / >
    
    <% _.each(form.k2Plugins['category'], function(field) { %>
    	<%= field.label %>
		<%= field.input %>
	<% }); %>
    
    <% _.each(form.jform, function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
    <h2><%= l('K2_METADATA') %></h2>
    <% _.each(form.metadata, function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
    <h2><%= l('K2_CATEGORY_LAYOUT_OPTIONS') %></h2>
    <% _.each(form.categoryLayoutOptions, function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
    <h2><%= l('K2_CATEGORY_VIEW_OPTIONS') %></h2>
    <% _.each(form.categoryViewOptions, function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
    <h2><%= l('K2_CATEGORY_IMAGE_OPTIONS') %></h2>
    <% _.each(form.categoryImageOptions, function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
    <h2><%= l('K2_LISTING_OPTIONS') %></h2>
    <% _.each(form.listingOptions, function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
    <h2><%= l('K2_ITEM_OPTIONS') %></h2>
    <% _.each(form.itemOptions, function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
    <h2><%= l('K2_PERMISSIONS') %></h2>
    <% _.each(form.permissions, function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
</form>