<table class="table table-striped">
    <thead>
        <tr>
            <td><label for="appRowsToggler" class="appCheckbox" title="<%- l('K2_SELECT_ALL') %>">
                    <input id="appRowsToggler" type="checkbox" />
                </label>
            </td>
            <td><%= l('K2_TITLE') %></td>
            <td>
                <%= l('K2_ORDER') %>
            </td>
            <td><%= l('K2_STATE') %></td>
            <td><%= l('K2_ACCESS') %></td>
            <td><%= l('K2_TEMPLATE') %></td>
            <td><%= l('K2_AUTHOR') %></td>
            <td><%= l('K2_CREATED') %></td>
            <td><%= l('K2_MODERATOR') %></td>
            <td><%= l('K2_MODIFIED') %></td>
            <td><%= l('K2_IMAGE') %></td>
            <td><%= l('K2_LANGUAGE') %></td>
            <td><%= l('K2_ID') %></td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
