<div class="jw--listed--items">
	<ul class="jw--items--header">
        <li class="small-1 large-1 columns">
        	<label title="<%- l('K2_SELECT_ALL') %>" class="jw--checkbox">
                <input data-action="toggle-all" type="checkbox" />
                <i class="fa fa-check"></i>
            </label>
        </li>
        <li class="small-1 large-4 columns"><%= l('K2_TITLE') %></li>
        <li class="text-center small-1 large-1 columns"><%= l('K2_ORDER') %> </li>
        <li class="small-1 large-1 columns"><%= l('K2_STATE') %></li>
        <li class="small-1 large-1 columns"><%= l('K2_ACCESS') %></li>
        <li class="small-1 large-1 columns"><%= l('K2_TEMPLATE') %></li>
        <li class="small-1 large-1 columns"><%= l('K2_AUTHOR') %></li>
        <li class="small-1 large-1 columns"><%= l('K2_CREATED') %></li>
        <li class="small-1 large-1 columns"><%= l('K2_MODERATOR') %></li>
        <li class="small-1 large-1 columns"><%= l('K2_MODIFIED') %></li>
        <li class="small-1 large-1 columns"><%= l('K2_IMAGE') %></li>
        <li class="small-1 large-1 columns"><%= l('K2_LANGUAGE') %></li>
        <li class="small-1 large-1 columns"><%= l('K2_ID') %></li>
	</ul>
	<ul class="jw--cat" data-region="categories" data-parent="1"></ul>
</div>