<h1>Categories</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<td class="jwCheckboxHolder">
					<label for="jwRowsToggler" class="jwCheckbox" title="Select All"><input id="jwRowsToggler" type="checkbox" /></label>
				</td>
				<td><a class="jwSortingButton" data-sorting-column="title ASC">Name</a></td>
				<td class="jwTextCenter  hide-on-small">
					<i class="jwicon-switch"></i>
				</td>
				<td class="hide-on-small"><a class="jwSortingButton" data-sorting-column="ordering ASC">Order</a> <button data-column="ordering" class="jwSaveOrderButton"><i class="jwicon-floppy"></i></button></td>
				<td class="jwTextCenter"><a class="jwSortingButton" data-sorting-column="published DESC">Published</a></td>
				<td><a class="jwSortingButton" data-sorting-column="id DESC">ID</a></td>
			</tr>
		</thead>
		<tbody></tbody>
	</table>	