<div class="small-1 large-1 columns">
    <label class="jw--checkbox">
        <input data-action="toggle" name="id[]" value="<%= id %>" type="checkbox" />
        <i class="fa fa-check"></i>
    </label>
</div>

<div class="small-1 large-4 columns">
    <% if(canEdit) { %>
    <a data-action="edit" href="<%= editLink %>"><%= title %></a>
    <% } else { %>
        <%= str_repeat('-', level) %><%= title %>
    <% } %>
    <span>(<span><%= totalItems %> <%= l('K2_TOTAL') %></span> / <span><%= trashedItems %> <%= l('K2_TRASHED') %></span>)</span>
</div>

<div class="text-center small-1 large-1 columns"><span data-role="ordering-handle"><i class="fa fa-bars"></i></span></div>

<div class="small-1 large-1 columns">
    <% if(canEditState) { %>
    <a data-action="toggle-state-category" data-state-value="<%= state %>" data-id="<%= id %>" data-state="state"><%= state %></a>
    <% } else { %>
    <%= state %>
    <% } %>
</div>

<div class="small-1 large-1 columns"><%= viewLevel %></div>

<div class="small-1 large-1 columns">
	<% if(template) { %>
		<%= template %>
	<% } else { %>	
		<%= l('K2_DEFAULT') %>
	<%	} %>
</div>

<div class="small-1 large-1 columns"><%= authorName %></div>

<div class="small-1 large-1 columns"><%= createdOn %></div>

<div class="small-1 large-1 columns">
	<% if(moderatorName){ %>
		<%= moderatorName %>
	<% } else { %>	
		<div class="text-center"> - </div>
	<%	} %>
</div>

<div class="small-1 large-1 columns">
	<% if(modifiedOn){ %>
		<%= modifiedOn %>
	<% } else { %>	
		<%= l('K2_NEVER') %>
	<%	} %>
</div>

<div class="small-1 large-1 columns">
    <% if(image && image.flag) { %>
        <a href="<%= image.src %>"><%= l('K2_PREVIEW') %></a>
    <% } else { %>
    <div class="text-center"> - </div>
    <% } %>
</div>

<div class="small-1 large-1 columns"><%= languageTitle %></div>

<div class="small-1 large-1 columns"><%= id %></div>

<ul class="jw--subcat" data-parent="<%- id %>"></ul>
