<td class="appCheckboxHolder"><label for="appCheckBox<%= id %>" class="appCheckbox">
    <input class="appRowToggler" name="id[]" id="appCheckBox<%= id %>" value="<%= id %>" type="checkbox" />
</label></td>
<td>
    <% if(canEdit) { %>
    <a class="appEditLink" href="<%= link %>"><%= str_repeat('-', level) %><%= title %></a>
    <% } else { %>
        <%= str_repeat('-', level) %><%= title %>
    <% } %>
</td>
<td><span class="appOrderingHandle">DRAG ME</span><input type="hidden" maxlength="6" size="6" name="ordering[]" value="" data-id="<%= id %>" /></td>
<td>
    <% if(canEditState) { %>
    <a class="appActionToggleState appPublishedState<%= published == 1 ? ' appStateActive' : '' %>" data-state="published" data-id="<%= id %>"><%= published %></a>
    <% } else { %>
    <%= published %>
    <% } %>
</td>
<td><%= viewLevel %></td>
<td><%= template %></td>
<td><%= authorName %></td>
<td><%= createdOn %></td>
<td><%= moderatorName %></td>
<td><%= modifiedOn %></td>
<td>
    <% if(image) { %>
        <a href="<%= image %>"><%= l('K2_PREVIEW') %></a>
    <% } %>
</td>
<td><%= languageTitle %></td>
<td><%= id %></td>
