<td class="appCheckboxHolder"><label for="appCheckBox<%= id %>" class="appCheckbox">
	<input class="appRowToggler" name="id[]" id="appCheckBox<%= id %>" value="<%= id %>" type="checkbox" />
</label></td>
<td class="appSlideTitleInfo">
    <%= str_repeat('-', level) %>
    
    <a href="<%= link %>" class="appSlideListTitle"><%= title %></a><span>
        
    <div><%= path %></div>
    <a class="appPreviewImage" href="#" title="Preview"><i class="appicon-eye"></i></a></span>
    
    
</td>
<td class="appTextCenter hide-on-small"><span class="appOrderingHandle"><i class="appicon-menu"></i></span>
<br />
</td>

<td class="appTextCenter"><a class="appStateToggler appPublishToggler<%= published == 1 ? ' appTogglerActive' : '' %>" data-state="published" data-id="<%= id %>"><i class="appicon-check"></i>(<%= published %>)</a></td>
<td><%= id %></td>
