<form id="k2UserGroupForm">

    <label for="name"><%= l('K2_TITLE') %></label>
    <input type="text" name="title" id="title" value="<%- row.title %>" />
    
    <% if(row.id) { %>
    <input type="hidden" name="parent_id" value="<%= row.parent_id %>" / >
    <% } else { %>
    <label><%= l('K2_PARENT') %></label>
    <%= form.parent_id %>
    <% } %>
    <input type="hidden" name="id" value="<%= row.id %>" / >
    
    
    <h2><%= l('K2_PERMISSIONS') %></h2>
    <% _.each(form.permissions, function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
     

    
    <% _.each(form.jform, function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %>
    
  
   
</form>