<form class="jw--settings">
	<div class="jw--generic--form">
		<div class="jw--setting--field jw--generic--group">
			<h2><%= l('K2_TITLE') %></h2>
			<input class="left" type="text" name="title" id="title" value="<%- row.title %>" />
		</div>
		
		<% if(form.showParentId) { %>
		<div class="jw--setting--field jw--generic--group">
			<h2><%= l('K2_PARENT') %></h2>
			<%= form.parent_id %>
		</div>
		<% } else { %>
			<%= form.parent_id %>
		<% } %>
		<input type="hidden" name="id" value="<%= row.id %>" / >
	</div>
	
	<div class="jw--generic--form jw--generic--form__full">
		<div class="jw--setting--field jw--generic--group">
			<h2><%= l('K2_PERMISSIONS') %></h2>
			<div class="table-responsive-wrap">
				<div class="table-responsive">
					<% _.each(form.permissions, function(field) { %>
					<%= field.label %>
					<%= field.input %>
					<% }); %>
				</div>
			</div>
		</div>
	</div>
	
	<div class="jw--generic--form">
		<div class="jw--setting--field">
			<% _.each(form.jform, function(field) { %>
			<div class="jw--setting--single">
				<div class="left">
					<%= field.label %>
				</div>
				<div class="right">
					<%= field.input %>
				</div>
			</div>
			<% }); %>
		</div>
	</div>
</form>