<div class="appMediaEntry">
	<% if(remove == 0) { %>
    <label><%= l('K2_FILE') %></label>
    <input type="file" name="file" data-widget="uploader" data-url="index.php?option=com_k2&task=media.upload&itemId=<%- itemId %>&upload=<%- upload %>&format=json" data-callback="media:upload:<%- cid %>" />

    <label><%= l('K2_URL') %></label>
    <input type="text" name="media[<%- cid %>][url]" value="<%- url %>" data-widget="browser" data-callback="media:select:<%- cid %>" />
    <span data-widget="dropbox" data-types="audio,video" data-callback="media:dropbox:<%- cid %>"></span>

    <label><%= l('K2_PROVIDER') %></label>
    <input type="text" name="media[<%- cid %>][provider]" value="<%- provider %>" />

    <label><%= l('K2_ID') %></label>
    <input type="text" name="media[<%- cid %>][id]" value="<%- id %>" />

    <label><%= l('K2_EMBED') %></label>
    <textarea name="media[<%- cid %>][embed]"><%= embed %></textarea>
    
    <label><%= l('K2_MEDIA_CAPTION') %></label>
    <input type="text" name="media[<%- cid %>][caption]" value="<%- caption %>" />

    <label><%= l('K2_MEDIA_CREDITS') %></label>
    <input type="text" name="media[<%- cid %>][credits]" value="<%- credits %>" />

    <button class="appRemoveMedia">
        <%= l('K2_REMOVE') %>
    </button>
    <% } %>
    <input type="hidden" name="media[<%- cid %>][upload]" value="<%- upload %>" />
    <input type="hidden" name="media[<%- cid %>][remove]" value="<%- remove %>" />
</div>