<h2>
    <% if(type !== 'user') { %>
    <%= l('K2_IMAGE') %>
    <% } %>
</h2>
<input type="file" name="file" data-widget="uploader" data-url="index.php?option=com_k2&task=images.upload&format=json&itemId=<%- itemId %>&type=<%- type %>" data-callback="image:upload:<%- cid %>" />
<% if(type !== 'user') { %>
<input type="text" name="image[path]" data-widget="browser" data-callback="image:select:<%- cid %>" />
<% } %>
<% if(src) { %>
<div>
    <img alt="<%- l('K2_PREVIEW') %>" src="<%- src %>" />
    <button id="appRemoveImage">
        <%= l('K2_REMOVE_IMAGE') %>
    </button>
</div>
<% } %>

<% if(type !== 'user') { %>
<label><%= l('K2_IMAGE_CAPTION') %></label>
<input type="text" name="image[caption]" value="<%- caption %>" />

<label><%= l('K2_IMAGE_CREDITS') %></label>
<input type="text" name="image[credits]" value="<%- credits %>" />
<% } %>
<input type="hidden" name="image[id]" value="<%- id %>" />
<input type="hidden" name="image[temp]" value="<%- temp %>" />
<input type="hidden" name="image[remove]" value="<%- remove %>" />