<table>
    <thead>
        <tr>
            <td><label title="<%- l('K2_SELECT_ALL') %>">
                <input data-action="toggle-all" type="checkbox" />
            </label></td>
            <td><%= l('K2_COMMENT') %></td>
            <td><a data-action="sort" data-sorting="state"><%= l('K2_STATE') %></a></td>
            <td><a data-action="sort" data-sorting="name"><%= l('K2_NAME') %></a></td>
            <td><a data-action="sort" data-sorting="email"><%= l('K2_EMAIL') %></a></td>
            <td><a data-action="sort" data-sorting="url"><%= l('K2_URL') %></a></td>
            <td><a data-action="sort" data-sorting="ip"><%= l('K2_IP') %></a></td>
            <td><a data-action="sort" data-sorting="hostname"><%= l('K2_HOSTNAME') %></a></td>
            <td><a data-action="sort" data-sorting="date"><%= l('K2_DATE') %></a></td>
            <td><a data-action="sort" data-sorting="item"><%= l('K2_ITEM') %></a></td>
            <td><a data-action="sort" data-sorting="id"><%= l('K2_ID') %></a></td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
