<li class="small-1 large-1 columns">
    <label class="jw--checkbox">
        <input data-action="toggle" name="id[]" value="<%= id %>" type="checkbox" />
        <i class="fa fa-check"></i>
    </label>
</li>
<li class="small-1 large-3 columns"><a data-action="edit" href="<%= editLink %>"><%= text %></a></li>

<li class="small-1 large-1 columns"><a data-action="toggle-state" data-state-value="<%= state %>" data-state="state" data-id="<%= id %>"><%= state %></a></li>
<li class="small-1 large-1 columns"><%= name %></li>
<li class="small-1 large-2 columns"><%= email %></li>
<li class="small-1 large-1 columns"><%= url %></li>
<li class="small-1 large-2 columns"><%= ip %></li>
<li class="small-1 large-2 columns"><%= hostname %></li>
<li class="small-1 large-1 columns"><%= createdOn %></li>
<li class="small-1 large-1 columns"><%= itemTitle %></li>
<li class="small-1 large-1 columns"><%= id %></li>
