<td class="appCheckboxHolder">
    <label for="appCheckBox<%= id %>" class="appCheckbox">
        <input class="appRowToggler" name="id[]" id="appCheckBox<%= id %>" value="<%= id %>" type="checkbox" />
    </label>
</td>
<td><a class="appEditLink" href="<%= link %>"><%= text %></a></td>

<td><a class="appActionToggleState appPublishedState<%= state == 1 ? ' appStateActive' : '' %>" data-state="state" data-id="<%= id %>"><%= state %></a></td>
<td><%= item %></td>
<td><%= id %></td>
<td><%= item %></td>
<td><%= id %></td>
