<form class="jw--settings jw--generic--form">
	<div class="jw--setting--field">
		<div class="jw--setting--single">
		    <label class="left" for="name"><%= l('K2_NAME') %></label>
		    <div class="right">
		    	<input type="text" name="name" id="name" value="<%- row.name %>" />
		    </div>
		</div>
		
		<div class="jw--setting--single">
		    <label class="left" for="alias"><%= l('K2_ALIAS') %></label>
		    <div class="right">
		    	<input type="text" name="alias" id="alias" value="<%- row.alias %>" />
		    </div>
	    </div>
	    
	    <div class="jw--setting--single">
		    <label class="left" for="group"><%= l('K2_EXTRA_FIELDS_GROUP') %></label>
		   
		    <div class="right text-right">
			    <%= form.group %>
				
				<div class="clr"></div>
				<div class="jw--subfield jw--state">
				    <label class="jw--radio--title_inl"><%= l('K2_REQUIRED') %></label>
				    <input type="radio" name="required" id="required1" class="visuallyhidden"  value="1" <%= (row.required > 0) ? 'checked="checked"': '' %>/>
				    <label for="required1" class="jw--radio <%= (row.required > 0) ? 'jw--radio__checked': '' %>"> <%= l('K2_YES') %> </label>
					
					<input type="radio" name="required" id="required0" class="visuallyhidden" value="0" <%= (row.required < 1) ? 'checked="checked"': '' %> />
				    <label for="required0" class="jw--radio <%= (row.required < 1) ? 'jw--radio__checked': '' %>"> <%= l('K2_NO') %></label>
				 </div>
			</div>
		</div>
		
		<div class="jw--setting--single">
		    <label class="left"><%= l('K2_STATE') %></label>
		    <div class="right"><%= form.state %></div>
		</div>
	
		<div class="jw--setting--single">
		   <label class="left" for="type"><%= l('K2_EXTRA_FIELDS_TYPE') %></label>
		   <div class="right"><%= form.type %></div>
		</div>
		
		<div class="jw--setting--single">
		    <label class="left"><%= l('K2_EXTRA_FIELDS_DEFINITION') %></label>
		    <div class="right jw--generic--def" data-region="extra-field-definition"></div>
		</div>
	
	    <input type="hidden" name="id" value="<%= row.id %>" / >
	
	    <% _.each(form.jform, function(field) { %>
		<div class="jw--setting--single">
		    <div class="left">
		    	<%= field.label %>
		    </div>
		    
		    <div class="right">
		    	<%= field.input %>
		    </div>
		</div>
	    <% }); %>
	</div>
</form>