<table>
    <thead>
        <tr>
            <td><label title="<%- l('K2_SELECT_ALL') %>">
                    <input data-action="toggle-all" type="checkbox" />
                </label>
            </td>
            <td><a data-action="sort" data-sorting="name"><%= l('K2_NAME') %></a></td>
            <td><a data-action="sort" data-sorting="group"><%= l('K2_GROUP') %></a></td>
            <td><a data-action="sort" data-sorting="type"><%= l('K2_TYPE') %></a></td>
            <td></td>
            <td>
                <a data-action="sort" data-sorting="ordering"><%= l('K2_ORDER') %></a>
                <button data-column="ordering" data-action="save-ordering">
                    <%= l('K2_SAVE_ORDER') %>
                </button>
            </td>
            <td><a data-action="sort" data-sorting="state.reverse"><%= l('K2_STATE') %></a></td>
            <td><a data-action="sort" data-sorting="id.reverse"><%= l('K2_ID') %></a></td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
