<td>
    <label>
        <input data-action="toggle" name="id[]" value="<%= id %>" type="checkbox" />
    </label>
</td>
<td><a data-action="edit" href="<%= editLink %>"><%= name %></a></td>
<td><%= groupName %></td>
<td><%= typeName %></td>
<td><span class="appOrderingHandle" data-column="ordering">DRAG ME</span></td>
<td>
    <input type="text" maxlength="6" size="6" name="ordering[]" value="<%= ordering %>" data-id="<%= id %>" />
</td>
<td><a data-action="toggle-state" data-state-value="<%= state %>" data-state="state" data-id="<%= id %>"><%= state %></a></td>
<td><%= id %></td>
