/*------------------------------------------------------------------
[Modals] */
.jw--modal *, .jw--modal *:after, .jw--modal *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.jw--modal { width: 650px; border: 1px solid rgba(0,0,0,.8); background-color: #fdfdfd; box-shadow: 0 0 29px rgba(0,0,0,.16);
z-index: 100; margin: 25px auto; font-family: 'Open Sans', sans-serif; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }
	.jw--modal:after { content: ""; width: 100%; height: 100%; }
	
	/* The header */
	.jw--modal--header { color: #fff; padding: 25px 20px; font-size: 20px; font-weight: 300; letter-spacing: -1px; background-color: #63696f; box-shadow: 0 1px 0 rgba(0,0,0,.18); overflow: hidden; }	
	.jw--modal--header h3 { margin: 0; padding: 0; line-height: 1; color: #fff; font-weight: 300;  }
	
	/* The content */
	.jw--modal--content { padding: 32px 50px 24px; overflow: hidden; border-top: 1px solid #d0d0cf; border-bottom: 1px solid #d0d0cf; }
	
	/* Actions */
	.jw--modal--actions { padding: 34px 50px 5px; overflow: hidden; }
		.jw--modal--actions select { min-width: 100%; height: 34px; line-height: 34px; border: 1px solid #d4d6d8; border-radius: 3px; background-color: #eff2f2; box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 1px 0 #fff; }
		.jw--action { overflow: hidden; margin-bottom: 25px; min-height: 66px; }
			.jw--action label { font-weight: 700; color: #636a6f; font-size: 13px; line-height: 1; }
			.jw--action .fa { font-size: 18px; display: inline-block; vertical-align: middle; margin-right: 5px; }
			
	.jw--modal .jw--button--row { padding: 16px 65px; background-color: #eff1f1; box-shadow: 0 1px 0 rgba(0,0,0,.18); }
	
	/* new styling for select 2 */
	.jw--modal .select2-container { height: 34px; line-height: 34px; width: 100%; border: 1px solid #d4d6d8; border-radius: 3px; background-color: #eff2f2; box-shadow: 0 1px 1px rgba(65,64,66,.14), inset 0 1px 0 #fff; }
	.jw--modal .select2-container .select2-choice { background: transparent; }
	.jw--modal .select2-container .select2-choice span { color: #555; }
	
/*------------------------------------------------------------------
[inside a modal] */
.jw--modalwrap {  }
	.jw--modalwrap .jw--main--navigation { display: none; }
	.jw--modalwrap .jw--component { padding-top: 0; }
	.jw--modalwrap .jw--subheader { position: relative; top: 0; left: 0; }
	.jw--modalwrap .jw--sidebar { top: 0; bottom: 0; } 
	.jw--modalwrap .jw--pagination { bottom: 0; }

/*------------------------------------------------------------------
[Popups] */
.jw--popup { padding: 20px; background: #f7f7f7; }
	.jw--popup .k2ProcessPercentage { display: block; font-size: 70px; line-height: 1; font-weight: 800; margin: 30px auto; }
	.jw--popup .k2ProcessStatus { margin-top: 30px; height: 40px; border-radius: 5px; background-color: #e4eaed; overflow: hidden; max-width: 100%; }
	.jw--popup .k2ProcessStatusBar { height: 40px; border-radius: 5px; background: #00afec; }
