<nav class="jw--scrollwrapper">
	<ul class="jw--scrollspymenu">
	
		<% var index = 0; _.each(form, function(fields, name) { %>
		<li>	
			<a href="#" id="jw--setting-<%= index %>"><%= l(name) %></a>
		</li>
		<% index++; }); %>
	
	</ul>
</nav>

<form class="jw--settings jw--settings__global">
    <% var index = 0; _.each(form, function(fields, name) { %>
    <div class="jw--setting--field" id="jw--setting-<%= index %>">
        
        <h3><%= l(name) %></h3>
        
        <% _.each(fields, function(field) { %>
        
        <% if(field.label !== null) { %>
        <div class="jw--setting--single">
        <% } %>
        
          	<%= field.label %>
            <%= field.input %>
            
        <% if(field.label !== null) { %>
        </div> 
        <% } %>
        
        <% }); %>
        
	</div>
    <% index++; }); %>
    <input type="hidden" name="id" value="<%= row.id %>" />
</form>