body.dragging, body.dragging * {
	cursor: move !important;
}

.dragged {
	position: absolute;
	opacity: 0.5;
	z-index: 2000;
}

tr.jwSortingPlaceholder {
	background: none repeat scroll 0 0 #FF0000;
	border: medium none;
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
}
tr.jwSortingPlaceholder:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-left-color: red;
	margin-top: -5px;
	left: -5px;
	border-right: none;
}