<form id="k2UserGroupForm">

    <input type="hidden" name="id" value="<%= row.id %>" / >
    
    <h2><%= l('K2_USER_DETAILS') %></h2>
    <% _.each(form.user_details, function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %> 
    
    <h2><%= l('K2_USER_GROUPS') %></h2>
    <%= form.groups %>
    
    
    <h2><%= l('K2_USER_PROFILE') %></h2>
    <label for="description"><%= l('K2_DESCRIPTION') %></label>
    <%= form.description %>
    
    <label><%= l('K2_USER_IMAGE_AVATAR') %></label>
    <div id="appUserImage"></div>
    
    <label for="gender"><%= l('K2_GENDER') %></label>
    <%= form.gender %>
    
    <label for="site"><%= l('K2_SITE') %></label>
    <input type="text" name="site" id="site" value="<%- row.site %>" />
    
    <label for="notes"><%= l('K2_NOTES') %></label>
    <textarea name="notes"><%= row.notes %></textarea>
    
     <!-- Extra Fields -->
    <div id="appUserExtraFields"></div>
    
    <% _.each(form.k2Plugins['users'], function(field) { %>
    	<%= field.label %>
		<%= field.input %>
	<% }); %>
    
    <h2><%= l('K2_USER_SETTINGS') %></h2>
    <% _.each(form.settings, function(field) { %>
    <%= field.label %>
    <%= field.input %>
    <% }); %> 
   
</form>