<table class="table table-striped">
    <thead>
        <tr>
            <td><label for="appRowsToggler" class="appCheckbox" title="<%- l('K2_SELECT_ALL') %>">
                    <input id="appRowsToggler" type="checkbox" />
                </label>
            </td>
            <td><a class="appActionSort" data-sorting="name"><%= l('K2_NAME') %></a></td>
            <td><a class="appActionSort" data-sorting="username"><%= l('K2_USERNAME') %></a></td>
            <td><a class="appActionSort" data-sorting="state"><%= l('K2_ENABLED') %></a></td>
            <td><a class="appActionSort" data-sorting="activation"><%= l('K2_ACTIVATED') %></a></td>
            <td><%= l('K2_USERGROUPS') %></td>
            <td><a class="appActionSort" data-sorting="email"><%= l('K2_EMAIL') %></a></td>
            <td><a class="appActionSort" data-sorting="lastvisitDate"><%= l('K2_LAST_VISIT') %></a></td>
            <td><a class="appActionSort" data-sorting="ip"><%= l('K2_IP') %></a></td>
            <td><a class="appActionSort" data-sorting="hostname"><%= l('K2_HOSTNAME') %></a></td>
            <td><a class="appActionSort" data-sorting="id"><%= l('K2_ID') %></a></td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
