<div class="jw--listed--items">

    <ul class="jw--items--header">
    
        <li class="small-1 large-1 columns"><label title="<%- l('K2_SELECT_ALL') %>">
                <input data-action="toggle-all" type="checkbox" />
            </label>
        </li>
        <li class="small-1 large-2 columns"><a data-action="sort" data-sorting="name"><%= l('K2_NAME') %></a></li>
        <li class="small-1 large-2 columns"><a data-action="sort" data-sorting="username"><%= l('K2_USERNAME') %></a></li>
        <li class="small-1 large-1 columns"><%= l('K2_ENABLED') %></li>
        <li class="small-1 large-1 columns"><%= l('K2_ACTIVATED') %></li>
        <li class="small-1 large-1 columns"><%= l('K2_USERGROUPS') %></li>
        <li class="small-1 large-2 columns"><a data-action="sort" data-sorting="email"><%= l('K2_EMAIL') %></a></li>
        <li class="small-1 large-2 columns"><a data-action="sort" data-sorting="lastvisitDate.reverse"><%= l('K2_LAST_VISIT') %></a></li>
        <li class="small-1 large-1 columns"><a data-action="sort" data-sorting="ip"><%= l('K2_IP') %></a></li>
        <li class="small-1 large-1 columns"><a data-action="sort" data-sorting="hostname"><%= l('K2_HOSTNAME') %></a></li>
        <li class="small-1 large-1 columns"><a data-action="sort" data-sorting="id.reverse"><%= l('K2_ID') %></a></li>
        
	</ul>
	
	<div data-region="list"></div>
</div>
