<table>
    <thead>
        <tr>
            <td><label title="<%- l('K2_SELECT_ALL') %>">
                    <input data-action="toggle-all" type="checkbox" />
                </label>
            </td>
            <td><a data-action="sort" data-sorting="name"><%= l('K2_NAME') %></a></td>
            <td><a data-action="sort" data-sorting="username"><%= l('K2_USERNAME') %></a></td>
            <td><%= l('K2_ENABLED') %></td>
            <td><%= l('K2_ACTIVATED') %></td>
            <td><%= l('K2_USERGROUPS') %></td>
            <td><a data-action="sort" data-sorting="email"><%= l('K2_EMAIL') %></a></td>
            <td><a data-action="sort" data-sorting="lastvisitDate.reverse"><%= l('K2_LAST_VISIT') %></a></td>
            <td><a data-action="sort" data-sorting="ip"><%= l('K2_IP') %></a></td>
            <td><a data-action="sort" data-sorting="hostname"><%= l('K2_HOSTNAME') %></a></td>
            <td><a data-action="sort" data-sorting="id.reverse"><%= l('K2_ID') %></a></td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
