<td>
    <label>
        <input data-action="toggle" name="id[]" value="<%= id %>" type="checkbox" />
    </label>
</td>
<td><a data-action="edit" href="<%= editLink %>"><%= name %></a></td>
<td><%= username %></td>
<td>
    <a data-action="toggle-state" data-state="block" data-state-value="<%= enabled  %>" data-id="<%= id %>" ><%= enabled %></a>
</td>
<td>
    <span><%= activated %></a>
</td>
<td><%= groupsValue %></td>
<td><%= email %></td>
<td><%= lastvisitDate %></td>
<td><%= ip %></td>
<td><%= hostname %></td>
<td><%= id %></td>
