<!-- <h2><%= l('K2_EXTRA_FIELDS') %></h2> -->

<% if(items.length === 0) { %>
<div class="jw--msg">
	<div class="alert alert-notice">
		<i class="fa fa-warning"></i>
		<%= l('K2_THERE_ARE_NO_EXTRA_FIELDS_AVAILABLE') %>
	</div>
</div>
<% } %>

<% _.each(items, function(group) { %>
<% if(group.scope === 'item' || group.scope === 'category') { %>

<div class="jw--element--row">
    <h3><%= group.name %></h3>
    <fieldset>
        <% _.each(group.fields, function(field) { %>
        <div class="jw--element--single" id="k2ExtraField<%- field.id %>">
            <div class="text-right left jw--item--lbl">	
            	<label title="<%= field.tooltip %>"><%= field.name %></label> 
            </div>
            
            <div class="ov-hidden jw--item--input">
            	<%= field.input %>
            </div>
        </div>
        <% }); %>
    </fieldset>
</div>

<% } else { %>

<div class="jw--setting--field">
	<h2><%= group.name %></h2>
	<% _.each(group.fields, function(field) { %> 
	<div class="jw--setting--single">
	    <label class="left"><%= field.name %></label>
	    <div class="right">
	    	<%= field.input %>
	    </div>
	</div>
	<% }); %>
</div>

<% } %>

<% }); %>