<nav class="jw--transition jw--scrollwrapper" data-widget="scrollspymenu">
	<ul class="jw--scrollspymenu jw--scrollspymenu__info">
		<li>	
			<a href="#jw--info0" class="jw--scroll"><%= l('K2_ABOUT') %><i class="right fa fa-angle-right"></i></a>	
		</li>
		<li>	
			<a href="#jw--info1" class="jw--scroll"><%= l('K2_CREDITS') %><i class="right fa fa-angle-right"></i></a>	
		</li>
		<li>	
			<a href="#jw--info2" class="jw--scroll"><%= l('K2_SYSTEM_INFORMATION') %><i class="right fa fa-angle-right"></i></a>	
		</li>
		<li>	
			<a href="#jw--info3" class="jw--scroll"><%= l('K2_DIRECTORY_PERMISSIONS') %><i class="right fa fa-angle-right"></i></a>	
		</li>
		<li>	
			<a href="#jw--info4" class="jw--scroll"><%= l('K2_MODULES') %><i class="right fa fa-angle-right"></i></a>	
		</li>
		<li>	
			<a href="#jw--info5" class="jw--scroll"><%= l('K2_PLUGINS') %><i class="right fa fa-angle-right"></i></a>	
		</li>
		<li>	
			<a href="#jw--info6" class="jw--scroll"><%= l('K2_THIRDPARTY_PLUGIN_INFORMATION') %><i class="right fa fa-angle-right"></i></a>	
		</li>
	</ul>
</nav>

<div class="jw--settings jw--settings__global jw--information">
	<table>
		<tr>
			<td>
				<fieldset id="jw--info0">
					<!-- <legend>
						<%= l('K2_ABOUT') %>
					</legend> -->
					<div>
						<%= l('K2_ABOUT_TEXT') %>
					</div>
				</fieldset>
			</td>
		</tr>
		
		<tr>
			<td>
				<fieldset id="jw--info1">
					<legend>
						<%= l('K2_CREDITS') %>
					</legend>
					<table class="stripped">
						<thead>
							<tr>
								<th><%= l('K2_PROVIDER') %></th>
								<th><%= l('K2_VERSION') %></th>
								<th><%= l('K2_TYPE') %></th>
								<th><%= l('K2_LICENSE') %></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a target="_blank" href="http://nuovext.pwsp.net/">NuoveXT</a></td>
								<td>2.2</td>
								<td><%= l('K2_ICONS') %></td>
								<td><%= l('K2_GNUGPL') %></td>
							</tr>
							<tr>
								<td><a target="_blank" href="http://p.yusukekamiyamane.com/">Fugue Icons
								<br />
								(by Yusuke Kamiyamane)</a></td>
								<td>3.5.3</td>
								<td><%= l('K2_ICONS') %></td>
								<td><%= l('K2_CREATIVE_COMMONS_ATTRIBUTION_30_LICENSE') %></td>
							</tr>
							<tr>
								<td><a target="_blank" href="http://www.iconarchive.com/artist/tpdkdesign.net.html">"Choose Your Sport" Icon Pack
								<br />
								(by TpdkDesign.net)</a></td>
								<td><%= l('K2_NA') %></td>
								<td><%= l('K2_ICONS') %></td>
								<td><%= l('K2_INFO_FREE_LICENSE') %></td>
							</tr>
							<tr>
								<td><a target="_blank" href="http://jquery.com">jQuery</a></td>
								<td>1.5.x - 1.9.x</td>
								<td><%= l('K2_JS_LIB') %></td>
								<td><%= l('K2_MIT') %></td>
							</tr>
							<tr>
								<td><a target="_blank" href="http://jqueryui.com/">jQuery UI</a></td>
								<td>1.8.24</td>
								<td><%= l('K2_JS_LIB') %></td>
								<td><%= l('K2_MIT') %></td>
							</tr>
							<tr>
								<td><a target="_blank" href="http://elfinder.org/">elFinder</a></td>
								<td>2.0 (rc1)</td>
								<td><%= l('K2_INFO_FILE_MANAGER') %></td>
								<td><%= l('K2_BSD') %></td>
							</tr>
						</tbody>
					</table>
				</fieldset>			
			</td>
		</tr>
			
		<tr>
			<td>
				<fieldset id="jw--info2">
					<legend>
						<%= l('K2_SYSTEM_INFORMATION') %>
					</legend>
					<table class="stripped">
						<thead>
							<tr>
								<th><%= l('K2_CHECK') %></th>
								<th><%= l('K2_RESULT') %></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><strong><%= l('K2_WEB_SERVER') %></strong></td>
								<td><%= server %></td>
							</tr>
							<tr>
								<td><strong><%= l('K2_PHP_VERSION') %></strong></td>
								<td><%= phpVersion %></td>
							</tr>
							<tr>
								<td><strong><%= l('K2_MYSQL_VERSION') %></strong></td>
								<td><%= dbVersion %></td>
							</tr>
							<tr>
								<td><strong><%= l('K2_GD_IMAGE_LIBRARY') %></strong></td>
								<td> <% if(gd) { %>
								<%= gdVersion %>
								<% } else { %>
								<span class="jw--red"><%= l('K2_DISABLED') %></span>
								<% } %> </td>
							</tr>
							<tr>
								<td><strong><%= l('K2_UPLOAD_LIMIT') %></strong></td>
								<td><%= maxFileUploadSize %></td>
							</tr>
							<tr>
								<td><strong><%= l('K2_MEMORY_LIMIT') %></strong></td>
								<td><%= memoryLimit %></td>
							</tr>
							<tr>
								<td><strong><%= l('K2_OPEN_REMOTE_FILES_ALLOW_URL_FOPEN') %></strong></td>
								<td> <% if(allowURLFopen) { %>
								<%= l('K2_YES') %>
								<% } else { %>
								<%= l('K2_NO') %>
								<% } %> </td>
							</tr>
						</tbody>
					</table>
				</fieldset>
			</td>
		</tr>
		
		<tr>
			<td>
				<fieldset id="jw--info3">
					<legend>
						<%= l('K2_DIRECTORY_PERMISSIONS') %>
					</legend>
					<table class="stripped jw--shorttable">
						<thead>
							<tr>
								<th><%= l('K2_CHECK') %></th>
								<th><%= l('K2_RESULT') %></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><strong>media/k2</strong></td>
								<td> <% if(mediaFolder) { %>
								<span class="jw--green"><%= l('K2_WRITABLE') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_WRITABLE') %></span>
								<% } %> </td>
							</tr>
							<tr>
								<td><strong>media/k2/attachments</strong></td>
								<td> <% if(attachmentsFolder) { %>
								<span class="jw--green"><%= l('K2_WRITABLE') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_WRITABLE') %></span>
								<% } %> </td>
							</tr>
							<tr>
								<td><strong>media/k2/categories</strong></td>
								<td> <% if(categoriesFolder) { %>
								<span class="jw--green"><%= l('K2_WRITABLE') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_WRITABLE') %></span>
								<% } %> </td>
							</tr>
							<tr>
								<td><strong>media/k2/galleries</strong></td>
								<td> <% if(galleriesFolder) { %>
								<span class="jw--green"><%= l('K2_WRITABLE') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_WRITABLE') %></span>
								<% } %> </td>
							</tr>
							<tr>
								<td><strong>media/k2/items</strong></td>
								<td> <% if(itemsFolder) { %>
								<span class="jw--green"><%= l('K2_WRITABLE') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_WRITABLE') %></span>
								<% } %> </td>
							</tr>
							<tr>
								<td><strong>media/k2/users</strong></td>
								<td> <% if(usersFolder) { %>
								<span class="jw--green"><%= l('K2_WRITABLE') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_WRITABLE') %></span>
								<% } %> </td>
							</tr>
							<tr>
								<td><strong>media/k2/media</strong></td>
								<td> <% if(mediaFolder) { %>
								<span class="jw--green"><%= l('K2_WRITABLE') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_WRITABLE') %></span>
								<% } %> </td>
							</tr>
							<tr>
								<td><strong>cache</strong></td>
								<td> <% if(cacheFolder) { %>
								<span class="jw--green"><%= l('K2_WRITABLE') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_WRITABLE') %></span>
								<% } %> </td>
							</tr>
						</tbody>
					</table>
				</fieldset>
			</td>
		</tr>
			
		<tr>	
			<td>
				<fieldset id="jw--info4">
					<legend>
						<%= l('K2_MODULES') %>
					</legend>
					<table class="stripped jw--shorttable">
						<thead>
							<tr>
								<th><%= l('K2_CHECK') %></th>
								<th><%= l('K2_RESULT') %></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><strong>mod_k2_comments</strong></td>
								<td> <% if(mod_k2_comments) { %>
								<span class="jw--green"><%= l('K2_INSTALLED') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_INSTALLED') %></span>
								<% } %> </td>
							</tr>
							<tr>
								<td><strong>mod_k2_content</strong></td>
								<td> <% if(mod_k2_content) { %>
								<span class="jw--green"><%= l('K2_INSTALLED') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_INSTALLED') %></span>
								<% } %> </td>
							</tr>
							<tr>
								<td><strong>mod_k2_tools</strong></td>
								<td> <% if(mod_k2_tools) { %>
								<span class="jw--green"><%= l('K2_INSTALLED') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_INSTALLED') %></span>
								<% } %> </td>
							</tr>
							<tr>
								<td><strong>mod_k2_user</strong></td>
								<td> <% if(mod_k2_user) { %>
								<span class="jw--green"><%= l('K2_INSTALLED') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_INSTALLED') %></span>
								<% } %> </td>
							</tr>
							<tr>
								<td><strong>mod_k2_users</strong></td>
								<td> <% if(mod_k2_users) { %>
								<span class="jw--green"><%= l('K2_INSTALLED') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_INSTALLED') %></span>
								<% } %> </td>
							</tr>
							<tr>
								<td><strong>mod_k2_quickicons</strong> (administrator)</td>
								<td> <% if(mod_k2_quickicons) { %>
								<span class="jw--green"><%= l('K2_INSTALLED') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_INSTALLED') %></span>
								<% } %> </td>
							</tr>
							<tr>
								<td><strong>mod_k2_stats</strong> (administrator)</td>
								<td> <% if(mod_k2_stats) { %>
								<span class="jw--green"><%= l('K2_INSTALLED') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_INSTALLED') %></span>
								<% } %> </td>
							</tr>
						</tbody>
					</table>
				</fieldset>
			</td>
		</tr>
			
		<tr>
			<td>
				<fieldset id="jw--info5">
					<legend>
						<%= l('K2_PLUGINS') %>
					</legend>
					<table class="stripped jw--shorttable">
						<thead>
							<tr>
								<th><%= l('K2_CHECK') %></th>
								<th><%= l('K2_RESULT') %></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><strong>Finder - K2</strong></td>
								<td> <% if(plg_finder_k2) { %>
								<span class="jw--green"><%= l('K2_INSTALLED') %></span> -
								<% if(plg_finder_k2_enabled) { %>
								<span class="jw--green"><%= l('K2_ENABLED') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_DISABLED') %></span>
								<% } %>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_INSTALLED') %></span>
								<% } %> </td>
							</tr>
							<tr>
								<td><strong>Search - K2</strong></td>
								<td> <% if(plg_search_k2) { %>
								<span class="jw--green"><%= l('K2_INSTALLED') %></span> -
								<% if(plg_search_k2_enabled) { %>
								<span class="jw--green"><%= l('K2_ENABLED') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_DISABLED') %></span>
								<% } %>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_INSTALLED') %></span>
								<% } %> </td>
							</tr>
							<tr>
								<td><strong>System - K2</strong></td>
								<td> <% if(plg_system_k2) { %>
								<span class="jw--green"><%= l('K2_INSTALLED') %></span> -
								<% if(plg_system_k2_enabled) { %>
								<span class="jw--green"><%= l('K2_ENABLED') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_DISABLED') %></span>
								<% } %>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_INSTALLED') %></span>
								<% } %> </td>
							</tr>
							<tr>
								<td><strong>User - K2</strong></td>
								<td> <% if(plg_user_k2) { %>
								<span class="jw--green"><%= l('K2_INSTALLED') %></span> -
								<% if(plg_user_k2_enabled) { %>
								<span class="jw--green"><%= l('K2_ENABLED') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_DISABLED') %></span>
								<% } %>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_INSTALLED') %></span>
								<% } %> </td>
							</tr>
						</tbody>
					</table>
				</fieldset>
			</td>
		</tr>
			
		<tr>
			<td>
				<fieldset id="jw--info6">
					<legend>
						<%= l('K2_THIRDPARTY_PLUGIN_INFORMATION') %>
					</legend>
					<table class="stripped jw--shorttable">
						<thead>
							<tr>
								<th><%= l('K2_CHECK') %></th>
								<th><%= l('K2_RESULT') %></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><strong><%= l('K2_ALLVIDEOS_PLUGIN') %></strong></td>
								<td> <% if(plg_content_allvideos) { %>
								<span class="jw--green"><%= l('K2_INSTALLED') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_INSTALLED') %></span>
								<% } %> </td>
							</tr>
							<tr>
								<td><strong><%= l('K2_SIMPLE_IMAGE_GALLERY_PRO_PLUGIN') %></strong></td>
								<td> <% if(plg_content_sigpro) { %>
								<span class="jw--green"><%= l('K2_INSTALLED') %></span>
								<% } else { %>
								<span class="jw--red"><%= l('K2_NOT_INSTALLED') %></span>
								<% } %> </td>
							</tr>
						</tbody>
					</table>
				</fieldset>
			</td>
		</tr>
	</table>
</div>