<div class="appAttachment">
    <label><%= l('K2_FILE') %></label>
    <input type="file" data-widget="uploader" data-url="index.php?option=com_k2&task=attachments.upload&id=<%- id %>&itemId=<%- itemId %>&format=json" data-callback="attachments:upload:<%- cid %>" name="file" />
    <input type="hidden" name="attachments[file][]" value="<%- file %>" />
    <input type="text" data-widget="browser" data-callback="attachments:select:<%- cid %>" name="attachments[url][]" value="<%- url %>" />
    <label><%= l('K2_NAME') %></label>
    <input type="text" name="attachments[name][]" value="<%- name %>" />
    <label><%= l('K2_TITLE') %></label>
    <input type="text" name="attachments[title][]" value="<%- title %>" />
    <input type="hidden" name="attachments[id][]" value="<%- id %>"  />
    <button class="appRemoveAttachment">
        <%= l('K2_REMOVE') %>
    </button>
    <button class="appDownloadAttachment">
        <%= l('K2_DOWNLOAD') %>
    </button>
</div>