<div>
	<% if(remove == 0) { %>
    <label><%= l('K2_FILE') %></label>
    <input type="file" data-widget="uploader" data-url="index.php?option=com_k2&task=attachments.upload&id=<%- id %>&itemId=<%- itemId %>&format=json" data-callback="attachments:upload:<%- cid %>" name="file" />
    <input type="hidden" name="attachments[<%- cid %>][file]" value="<%- file %>" />
    <input type="text" data-widget="browser" data-callback="attachments:select:<%- cid %>" name="attachments[<%- cid %>][path]" value="<%- path %>" />
    <span data-widget="dropbox" data-callback="attachments:dropbox:<%- cid %>"></span>

    <label><%= l('K2_NAME') %></label>
    <input type="text" name="attachments[<%- cid %>][name]" value="<%- name %>" />
    <label><%= l('K2_TITLE') %></label>
    <input type="text" name="attachments[<%- cid %>][title]" value="<%- title %>" />
    <button data-action="remove">
        <%= l('K2_REMOVE') %>
    </button>
    <% if(id) { %>
    <button data-action="download">
        <%= l('K2_DOWNLOAD') %>
    </button>
    <% } %>
     <% } %>
    <input type="hidden" name="attachments[<%- cid %>][id]" value="<%- id %>"  />
    <input type="hidden" name="attachments[<%- cid %>][remove]" value="<%- remove %>" />
</div>