<h2><%= l('K2_ATTACHMENTS') %></h2>
<button id="appAddAttachment">
    <%= l('K2_ADD_ATTACHMENT') %>
</button>
<% _.each(items, function(attachment) { %>
<div class="appAttachment">
    <label><%= l('K2_FILE') %></label>
    <input type="file" data-widget="uploader" name="attachments[file][]" />
    <input type="text" data-widget="browser" name"attachments[url][]" />
    <label><%= l('K2_NAME') %></label>
    <input type="text" name="attachments[name][]" value="<%- attachment.name %>" />
    <label><%= l('K2_TITLE') %></label>
    <input type="text" name="attachments[title][]" value="<%- attachment.title %>" />
    <input type="hidden" name="attachments[id][]" value="<%- attachment.id %>"  />
    <button class="appRemoveAttachment" data-id="<%- attachment.id %>">
        <%= l('K2_REMOVE') %>
    </button>
    <button class="appDownloadAttachment" data-cid="<%- attachment.id %>">
        <%= l('K2_DOWNLOAD') %>
    </button>
</div>
<% }); %>