<li class="small-1 large-1 columns">
    <label class="jw--checkbox">
        <input data-action="toggle" name="id[]" value="<%= id %>" type="checkbox" />
        <i class="fa fa-check"></i>
    </label>
</li>
<li class="small-2 large-2 columns"><a data-action="edit" href="<%= editLink %>"><%= name %></a></li>
<li class="small-2 large-2 columns"3><%= username %></li>
<li class="text-center small-1 large-1 columns">
    <a class="jw--state--toggler jw--state--toggler__pub <% if( enabled == 1 ) { print('toggler--active'); } %>" data-action="toggle-state" data-state="block" data-state-value="<%= enabled  %>" data-id="<%= id %>">
    	
		<% if(enabled == 0) { %>
		<i class="red fa fa-ban"></i>
		<% } else { %>
		<i class="fa fa-check-circle"></i>
		<% } %>
		<i class="hidden"><%= enabled %></i>

    </a>
</li>
<li class="text-center small-1 large-1 columns">
    <a class="jw--state--toggler jw--state--toggler__pub <% if( activated == 1 ) { print('toggler--active'); } %>" <% if(!activated) { %> data-action="toggle-state" data-state="block" data-state-value="<%= activated %>" data-id="<%= id %>" <% } %>>
    	<% if(activated == 0) { %>
		<i class="red fa fa-ban"></i>
		<% } else { %>
		<i class="fa fa-check-circle"></i>
		<% } %>
		<i class="hidden"><%= activated %></i>
    </a>
</li>
<li class="small-1 large-1 columns"><%= groupsValue %></li>
<li class="small-2 large-2 columns"><%= email %></li>
<li class="small-2 large-2 columns"><%= lastvisitDate %></li>
<li class="small-1 large-1 columns"><%= ip %></li>
<li class="small-1 large-1 columns"><%= hostname %></li>
<li class="small-1 large-1 columns"><%= id %></li>
