<form class="jw--form jw--form__item">
<!-- Example tags markup
	<div data-widget="tabs">
		<ul data-role="tabs-navigation">
			<li><a>1</a></li>
			<li><a>2</a></li>
		</ul>
		<div data-role="tabs-content">
			<div>Tab 1</div>
			<div>Tab 2</div>
		</div>
	</div>
-->
<div data-widget="tabs">

	<ul class="text-center jw--tabs jw--tabs__top" data-role="tabs-navigation">
		<li><a href="#"><i class="fa fa-home"></i><%= l('K2_BASIC') %></a></li>
		<% if(row.revisionsEnabled) { %>
		<li><a href="#" data-action="load-revisions"><i class="fa fa-arrows-h"></i><%= l('K2_REVISIONS') %></a></li>
		<% } %>
		<li><a href="#"><i class="fa fa-info-circle"></i><%= l('K2_METADATA_AND_PUBLISHING') %></a></li>
		<li><a href="#"><i class="fa fa-desktop"></i><%= l('K2_DISPLAY_SETTINGS') %></a></li>
		<li><a href="#"><i class="fa fa-unlock-alt"></i><%= l('K2_PERMISSIONS') %></a></li>
	</ul>
	
	<div id="k2--id">
		<%= l('K2_ID') %>
		<strong><%= row.id %></strong>
	</div>
	
	<div data-role="tabs-content">
		<div class="jw--item--form">
		
			<div class="ov-hidden">
				<div class="left text-right jw--item--lbl">
					<label for="title"><%= l('K2_TITLE') %></label>
				</div>
				<div class="ov-hidden jw--item--fld jw--item--fld__title">
					<input type="text" name="title" id="title" value="<%- row.title %>" />
				</div>
			</div>
			
			<div class="jw--item--row">
				<div class="left text-right jw--item--lbl">
					<label for="alias"><%= l('K2_ALIAS') %></label>
				</div>
				<div class="ov-hidden jw--item--fld jw--item--fld__alias">
					<input type="text" name="alias" id="alias" value="<%- row.alias %>" />
				</div>
			</div>
			
			<div class="jw--item--row">
				<div class="left jw--item--row__single">
					<div class="left text-right jw--item--lbl">
						<label for="catid"><%= l('K2_CATEGORY') %></label>
					</div>
					<div class="ov-hidden jw--item--fld">
						<%= form.category %>
					</div>
				</div>
				
				<% if(row.canEditState) { %>
			    <div class="right jw--item--fld__multi">
			    	<div class="left text-right jw--item--lbl">
				    	<label class="jw--radio--title"><%= l('K2_STATE') %></label>
				    </div>
				    <div class="ov-hidden left jw--label--row">
				    	<%= form.state %>
				    </div>
				</div>
			    <% } %>
			    
			   <% if(row.canEditFeaturedState) { %>
			    <div class="right jw--item--fld__multi">
			    	<div class="left text-right jw--item--lbl">
				    	<label class="jw--radio--title"><%= l('K2_FEATURED') %></label>
				    </div>
				    
				    <div class="left btn-group-yesno">
						<input class="visuallyhidden" type="radio" name="featured" id="feat1" value="1"/>
					    <label for="feat1"> <%= l('K2_YES') %></label>
					    
					    <input class="visuallyhidden" type="radio" name="featured" id="feat2" value="0" />
					    <label for="feat2"> <%= l('K2_NO') %></label>
				    </div>
				</div>
				<% } %>
				
			</div>
		    <div class="clr"></div>
			
			<!-- Tags -->
			<div class="jw--item--row">
				<div class="left text-right jw--item--lbl">
					<label><%= l('K2_TAGS') %></label>
				</div>
				<div class="ov-hidden jw--item--tags">
					<input data-widget="tags" data-create="<%- row.canCreateTag %>" data-use-id="1" value="<%- row.tagsValue %>" type="hidden" name="tags" />
					<div class="jw--tag--caption"><%= l('K2_WRITE_A_TAG_AND_PRESS_RETURN_OR_COMMA_TO_ADD_IT') %></div>
				</div>
			</div>
		
			<div class="jw--item--row">
				<div class="left jw--item--row__single">
					
					<div class="left text-right jw--item--lbl">
						<label for="created_by_alias_url"><%= l('K2_AUTHOR_ALIAS_URL') %></label>
					</div>
					<div class="left ov-hidden jw--item--fld">
						<input id="created_by_alias_url" type="text" name="created_by_alias_url" value="<%- row.created_by_alias_url %>" />
					</div>
					
				</div>
								
				<div class="left jw--item--row__single">
					<div class="left text-right jw--item--lbl">
						<label for="created_by_alias"><%= l('K2_AUTHOR_ALIAS') %></label>
					</div>
					<div class="left ov-hidden jw--item--fld">
						<input id="created_by_alias" type="text" name="created_by_alias" value="<%- row.created_by_alias %>" />
					</div>
				</div>
				
				<div class="left jw--item--row__single">
					<div class="left text-right jw--item--lbl">
						<label><%= l('K2_AUTHOR') %></label>
					</div>
					<div class="left ov-hidden jw--item--fld">
						<input data-widget="user" data-min="1" data-name="<%- row.authorName %>" type="hidden" name="created_by" value="<%- row.created_by %>" />
					</div>
				</div>
			</div>


			<div class="jw--item--row">
				<div class="left jw--item--row__single">
					<div class="left text-right jw--item--lbl">
				    	<label for="access"><%= l('K2_ACCESS') %></label>
				    </div>
				    <div class="ov-hidden jw--item--fld">
				    	<%= form.access %>
				    </div>
			    </div>
			    
			    <div class="left jw--item--row__single">
				    <div class="left text-right jw--item--lbl">
				    	<label for="language"><%= l('K2_LANGUAGE') %></label>
				    </div>
				    <div class="ov-hidden jw--item--fld">
				    	<%= form.language %>
				    </div>
				</div>
			</div>


			<div class="clr"></div>
		    
		    <% _.each(form.k2Plugins['items-content'], function(field) { %>
			<div class="jw--element--row">
				<div class="jw--element--single">
			    	<div class="ov-hidden jw--block--field">
			    		<%= field.label %>
						<%= field.input %>
					</div>
				</div>
			</div>
			<% }); %>
				    
		    <!-- Editor Tabs -->
			<div data-widget="tabs">
				<ul class="jw--tabs jw--tabs__content" data-role="tabs-navigation">
					<li><a href="#"><i class="fa fa-file-text"></i> Content</a></li>
					<li><a href="#"><i class="fa fa-image"></i> Image</a></li>
					<li><a href="#"><i class="fa fa-files-o"></i> Galleries</a></li>
					<li><a href="#"><i class="fa fa-film"></i> Media</a></li>
					<li><a href="#"><i class="fa fa-link"></i> Attachments</a></li>
					<li><a href="#"><i class="fa fa-gear"></i> Extra Fields</a></li>
				</ul>
					
				<div class="jw--pane jw--pane__content" data-role="tabs-content">
					<!-- Content -->
					<div class="jw--editor--tab">
						<% if(form.text) { %>
					    <!--<label for="text"><%= l('K2_TEXT') %></label>-->
					    <%= form.text %>
					    <% } else { %>
					    <label class="jw--content--label" for="introtext"><%= l('K2_INTROTEXT') %> <span>(<%= l('K2_TEASER_CONTENT_EXCERPT') %>)</span></label>
					    <%= form.introtext %>
					    <label class="jw--content--label jw--content--label__full" for="fulltext"><%= l('K2_FULLTEXT') %> <span>(<%= l('K2_MAIN_CONTENT') %>)</span></label>
					    <%= form.fulltext %>
					    <% } %>
					</div>
					
					<!-- Image -->
					<div class="jw--editor--tab jw--image--tab">
						<div class="jw--editor--cnt">
						    <div data-region="item-image"></div>
						    <% _.each(form.k2Plugins['items-image'], function(field) { %>
								<div class="jw--element--row">
									<div class="jw--element--single">
								    	<div class="ov-hidden jw--block--field">
								    		<%= field.label %>
											<%= field.input %>
										</div>
									</div>
								</div>
							<% }); %>
						</div>
					</div>
					
					<!-- Galleries -->
					<div class="jw--editor--tab jw--sortable--items">
						<div class="jw--editor--cnt">
						    <div data-region="item-galleries"></div>
						    
						    <% _.each(form.k2Plugins['items-galleries'], function(field) { %>
								<div class="jw--element--row">
									<div class="jw--element--single">
								    	<div class="ov-hidden jw--block--field">
								    		<%= field.label %>
											<%= field.input %>
										</div>
									</div>
								</div>
							<% }); %>
						</div>
					</div>
				
				    <!-- Media -->
				    <div class="jw--editor--tab jw--sortable--items">
				    	<div class="jw--editor--cnt">
						    <div data-region="item-media"></div>
						    
						    <% _.each(form.k2Plugins['items-media'], function(field) { %>
								<div class="jw--element--row">
									<div class="jw--element--single">
								    	<div class="ov-hidden jw--block--field">
								    		<%= field.label %>
											<%= field.input %>
										</div>
									</div>
								</div>
							<% }); %>
						</div>
					</div>

					<!-- Attachments -->
					<div class="jw--editor--tab jw--sortable--items">
						<div class="jw--editor--cnt">
						    <div data-region="item-attachments"></div>
						    <% _.each(form.k2Plugins['items-attachments'], function(field) { %>
								<div class="jw--element--row">
									<div class="jw--element--single">
								    	<div class="ov-hidden jw--block--field">
								    		<%= field.label %>
											<%= field.input %>
										</div>
									</div>
								</div>
							<% }); %>
						</div>
					</div>	
				
				    <!-- Extra Fields -->
				    <div class="jw--editor--tab">
				    	<div class="jw--editor--cnt">
						    <div data-region="item-extra-fields"></div>
						    
						    <% _.each(form.k2Plugins['items-extra-fields'], function(field) { %>
								<div class="jw--element--row">
									<div class="jw--element--single">
										<div class="left text-right jw--item--lbl">		    
								    		<%= field.label %>
								    	</div>
								    	<div class="ov-hidden jw--block--field">
											<%= field.input %>
										</div>
									</div>
								</div>
							<% }); %>
						</div>
					</div>
		
				</div>
				
		    </div>
		    
		    <div class="jw--editor--revisions">
			    <label class="jw--rev--title" for="notes"><i class="fa fa-clock-o"></i> <%= l('K2_REVISION_NOTES') %></label>
				<textarea name="notes" id="notes" value="" />
			</div>
			
		    <input type="hidden" name="id" value="<%- row.id %>" / >
		</div>
			
			<% if(row.revisionsEnabled) { %>
			<!-- Revisions -->
			<div class="jw--revisions">
			    <div data-region="item-revisions"></div>
			</div>
			<% } %>
				
			
			<!-- Item Options (Metadata) -->
			<div class="jw--options--item">
			
				<nav class="jw--transition jw--scrollwrapper jw--scrollwrapper__item" data-widget="scrollspymenu">
					<ul class="jw--scrollspymenu jw--scrollspymenu__item">
						<li><a class="jw--scroll__primary active" href="#jw--item0"><%= l('K2_PUBLISHING_SETTINGS') %></a></li>
						<li><a class="jw--scroll__primary" href="#jw--item1"><%= l('K2_METADATA') %></a></li>
						<% if(form.associations.enabled) { %>
						<li><a class="jw--scroll__primary" href="#jw--item2"><%= l('K2_ASSOCIATIONS') %></a></li>
						<% } %>
					</ul>
				</nav>
			
				<div class="jw--settings jw--settings__global  jw--item">
					
					<div class="row collapse">
						
						<div class="small-16 medium-10 large-13 columns jw--setting--field jw--setting--field__noedit">
							<div class="jw--setting--single jw--setting--single__noedit">			
							    <label class="left"><%= l('K2_CREATED_DATE') %></label>
							    <label class="right"><%= row.createdDate %></label>
							</div>						
							
							<div class="jw--setting--single jw--setting--single__noedit">			
							    <label class="left"><%= l('K2_AUTHOR') %></label>
							    <label class="right"><%= row.authorName %></label>
							</div>
							
							<% if(row.moderatorName !== row.createdDate) { %>
						    <div class="jw--setting--single jw--setting--single__noedit">
						        <label class="left"><%= l('K2_MODIFIED_DATE') %></label>
						        <label class="right"><%= row.modifiedOn %></label>
						    </div>
						    <% } %>
							
							<% if(row.moderatorName) { %>
							<div class="jw--setting--single jw--setting--single__noedit">
								<label class="left"><%= l('K2_MODERATOR') %></label>
								<label class="right"><%= row.moderatorName %></label>
						    </div>
						    <% } %>
						</div>
						
						
						<div class="text-center small-16 medium-6 large-3 columns">
							<div class="jw--hits">
								<%= l('K2_HITS') %>
								<span data-role="hits"><%= row.hits %></span>
							</div>
							<div class="jw--reset--wrap">
								<button class="jw--btn jw--btn__item jw--btn__reset" data-action="reset-hits"><%= l('K2_RESET') %></button>
							</div>
						</div>
					
					</div>
					
					
					<div class="jw--setting--field jw--setting--field--datepicker" id="jw--item0">	
						<h2><%= l('K2_PUBLISHING_SETTINGS') %></h2>

						<div class="jw--setting--single">
						    <label class="left" for="createdDate"><%= l('K2_CREATED_DATE') %></label>
						    <input class="right" id="createdDate" data-widget="datepicker" type="text" name="createdDate" value="<%- row.createdDate %>" />
						</div>
												
						<div class="jw--setting--single">
						    <label class="left" for="createdTime"><%= l('K2_CREATED_TIME') %></label>
						    <input class="right" id="createdTime" data-widget="timepicker" type="text" name="createdTime" value="<%- row.createdTime %>" />
						</div>
						
						<div class="jw--setting--single">
							<label class="left" for="publishUpDate"><%= l('K2_START_PUBLISHING_DATE') %></label>
							<input class="right" data-widget="datepicker" id="publishUpDate" type="text" name="publishUpDate" value="<%- row.publishUpDate %>" />
						</div>
							
						<div class="jw--setting--single">
							<label class="left" for="publishUpTime"><%= l('K2_START_PUBLISHING_TIME') %></label>
							<input class="right" data-widget="timepicker" id="publishUpTime" type="text" name="publishUpTime" value="<%- row.publishUpTime %>" />
						</div>
							
						<div class="jw--setting--single">
							<label class="left" for="publishDownDate"><%= l('K2_FINISH_PUBLISHING_DATE') %></label>
							<input class="right" data-widget="datepicker" id="publishDownDate" type="text" name="publishDownDate" value="<%- row.publishDownDate %>" />
						</div>
							
						<div class="jw--setting--single">
							<label class="left" for="publishDownTime"><%= l('K2_FINISH_PUBLISHING_TIME') %></label>
							<input class="right" data-widget="timepicker" id="publishDownTime" type="text" name="publishDownTime" value="<%- row.publishDownTime %>" />
						</div>
							
						<div class="jw--setting--single">
							<label class="left" for="startDate"><%= l('K2_START_DATE') %></label>
							<input class="right" data-widget="datepicker" id="startDate" type="text" name="startDate" value="<%- row.startDate %>" />
						</div>
							
						<div class="jw--setting--single">
							<label class="left" for="startTime"><%= l('K2_START_TIME') %></label>
							<input class="right" data-widget="timepicker" id="startTime" type="text" name="startTime" value="<%- row.startTime %>" />
						</div>
						
						<div class="jw--setting--single">
							<label class="left" for="endDate"><%= l('K2_END_DATE') %></label>
							<input class="right" data-widget="datepicker" id="endDate" type="text" name="endDate" value="<%- row.endDate %>" />
						</div>
							
						<div class="jw--setting--single">
							<label class="left" for="endTime"><%= l('K2_END_TIME') %></label>
							<input class="right" data-widget="timepicker" id="endTime" type="text" name="endTime" value="<%- row.endTime %>" />
						</div>
						
						<!-- JForm fields TODO: Move them somewhere else in the form -->
						<% _.each(form.jform, function(field) { %>
						<% if(field.label !== null) { %>
						<div class="jw--setting--single">
						  	<%= field.label %>
						    <%= field.input %>
						</div> 
						<% } else { %>
						<div class="jw--setting--title">
							<%= field.input %>
						</div>
						<% } %>
						<% }); %>
											
					</div>
				
				
					<div class="jw--setting--field"  id="jw--item1">
						
						<h2><%= l('K2_METADATA') %></h2>
						<% _.each(form.metadata, function(field) { %>
						<% if(field.label !== null) { %>
						<div class="jw--setting--single">
						  	<%= field.label %>
						    <%= field.input %>
						</div> 
						<% } else { %>
						<div class="jw--setting--title">
							<%= field.input %>
						</div>
						<% } %>
						<% }); %>
						
					</div>	
					
					
					<% if(form.associations.enabled) { %>
					<!-- Associations -->
					<div class="jw--setting--field" id="jw--item2">
					    <h2><%= l('K2_ASSOCIATIONS') %></h2> 
					    <% _.each(form.associations.languages, function(language) { %>
					    	<div class="jw--setting--single">
					    	
					    	<label><%- language.title %></label>
					    	<a href="#" data-action="select-association" class="right jw--btn jw--btn__apply" data-language="<%- language.code %>"><%- l('K2_SELECT_ITEM') %></a>
					    	
					    	<span data-role="association-title" data-language="<%- language.code %>"><%= language.associated.title %></span>
					    	
					    	<input type="hidden" name="associations[<%- language.code %>]" value="<%- language.associated.id %>" />
							</div>
					    <% }); %>
			    	</div>
			    	<% } %>
					
					
					
				</div>
			</div>  
			
			<!-- Item Options (Listing/ item Options) -->
			<div class="jw--options--item">
				<nav class="jw--transition jw--scrollwrapper jw--scrollwrapper__item" data-widget="scrollspymenu">
					<ul class="jw--scrollspymenu jw--scrollspymenu__item">
						<li><a class="jw--scroll__primary active" href="#jw--itemp0"><%= l('K2_LISTING_OPTIONS') %></a></li>
						<li><a class="jw--scroll__primary" href="#jw--itemp1"><%= l('K2_ITEM_OPTIONS') %></a></li>
					</ul>
				</nav>	
				
				<div class="jw--settings jw--settings__global jw--item">
					<div class="jw--setting--field" id="jw--itemp0">
						<h2><%= l('K2_LISTING_OPTIONS') %></h2>
						<% _.each(form.listingOptions, function(field) { %>
						<% if(field.label !== null) { %>
						<div class="jw--setting--single">
						  	<%= field.label %>
						    <%= field.input %>
						</div> 
						<% } else { %>
						<div class="jw--setting--title">
							<%= field.input %>
						</div>
						<% } %>
						<% }); %>
					</div>
					
					<div class="jw--setting--field" id="jw--itemp1">
						<h2><%= l('K2_ITEM_OPTIONS') %></h2> 
						<% _.each(form.itemOptions, function(field) { %>
						<% if(field.label !== null) { %>
						<div class="jw--setting--single">
						  	<%= field.label %>
						    <%= field.input %>
						</div> 
						<% } else { %>
						<div class="jw--setting--title">
							<%= field.input %>
						</div>
						<% } %>
						<% }); %>
					</div>
				</div>
			</div>
			
			<!-- Permissions -->
			<div class="jw--settings jw--item">
				<div class="jw--generic--form">
					<div class="jw--setting--field">
					    <h2><%= l('K2_PERMISSIONS') %></h2> 
					    <% _.each(form.permissions, function(field) { %>
					    <%= field.label %>
					    <%= field.input %>
					    <% }); %>
					</div>
				</div>
	    	</div>
	    	
    	</div>
	</div>
</form>