<div class="appBatchHeader">
    <h3><%= l('K2_BATCH_OPERATIONS') %></h3>
    <span>
        <span><%= counter %></span>
        <%= l('K2_SELECTED_ITEMS') %>
    </span>
</div>
<div class="appBatchMode">
    <label>
        <strong><%= l('K2_ASSIGN') %></strong>
        <input type="radio" name="batchMode" value="apply" checked="checked" />
    </label>
    <label>
        <strong><%= l('K2_CREATE_DUPLICATE') %></strong>
        <input type="radio" name="batchMode" value="clone"  />
    </label>
</div>
<div class="appBatchActions">
    <% _(actions).each(function(action) { %>
        <div id="<%= action.id %>">
            <label><%= action.label %></label>
            <%= action.input %>
        </div>
    <% }); %>
</div>
<div class="appBatchButtons">
    <button id="appBatchApplyButton"><%= l('K2_APPLY') %></button>
    <button id="appBatchCancelButton"><%= l('K2_CANCEL') %></button>
</div>