<div>
    <i>K2</i>
</div>

<% if(!_.isEmpty(menu)) { %>
<ul data-region="menu-primary">
    <% _.each(menu, function(link) { %>
    <li>
        <a <% _.each(link.attributes, function(value, name) { print(name + '="' + value + '" ');}) %>><%= link.name %></a>
    </li>
    <% }); %>
</ul>
<% } %>

<% if(!_.isEmpty(actions)) { %>
<ul data-region="actions">
    <% _.each(actions, function(button) { %>
    <li>
        <button <% _.each(button.attributes, function(value, name) { print(name + '="' + value + '" ');}) %>>
            <%= button.name %>
        </button>
    </li>
    <% }); %>
</ul>
<% } %>