<div>
    <i>K2</i>
</div>

<% if(!_.isEmpty(menu)) { %>
<ul data-region="menu-primary">
    <% _.each(menu, function(link) { %>
    <li>
        <a <% if(link.attributes.id) { %> id="<%= link.attributes.id %>" <% } %> <% if(link.attributes.class) { %> class="<%= link.attributes.class %>" <% } %> href="<%= link.attributes.href %>"><%= link.name %></a>
    </li>
    <% }); %>
</ul>
<% } %>

<% if(!_.isEmpty(actions)) { %>
<ul data-region="actions">
    <% _.each(actions, function(button) { %>
    <li>
        <button <% if(button.attributes.id) { %> id="<%= button.attributes.id %>" <% } %> <% if(button.attributes.class) { %> class="<%= button.attributes.class %>" <% } %> <% if(button.attributes['data-resource']) { %> data-resource="<%= button.attributes['data-resource'] %>" <% } %>>
            <%= button.name %>
        </button>
    </li>
    <% }); %>
</ul>
<% } %>