<div id="appLogo">
    <i class="hidden">K2</i>
</div>

<% if(!_.isEmpty(actions)) { %>
<ul id="appActions">
    <% _(actions).each(function(button) { %>
    <li>
        <button <% if(button.attributes.id) { %> id="<%= button.attributes.id %>" <% } %> <% if(button.attributes.class) { %> class="<%= button.attributes.class %>" <% } %>>
            <%= button.name %>
        </button>
    </li>
    <% }); %>
</ul>
<% } %>

<% if(!_.isEmpty(menu)) { %>
<ul id="appPrimaryMenu">
    <% _(menu).each(function(link) { %>
    <li>
        <a <% if(link.attributes.id) { %> id="<%= link.attributes.id %>" <% } %> <% if(link.attributes.class) { %> class="<%= link.attributes.class %>" <% } %> href="<%= link.attributes.href %>"><%= link.name %></a>
    </li>
    <% }); %>
</ul>
<% } %>