<% if(!_.isEmpty(menu)) { %>
<ul id="appSecondaryMenu">
    <% _(menu).each(function(link) { %>
    <li>
        <a <% if(link.attributes.id) { %> id="<%= link.attributes.id %>" <% } %> <% if(link.attributes.class) { %> class="<%= link.attributes.class %>" <% } %> href="<%= link.attributes.href %>"><%= link.name %></a>
    </li>
    <% }); %>
</ul>
<% } %>

<% if(!_.isEmpty(filters)) { %>
<div class="appFilters">
    <% _(filters).each(function(filter) { %>
    <div class="appFilter">
        <% if(filter.radio) { %>
        <label><%= filter.label %></label>
        <% } else { %>
        <label for="<%- filter.id %>"><%= filter.label %></label>
        <% } %>
        <%= filter.input %>
    </div>
    <% }); %>
</div>
<button class="appActionResetFilters"><%= l('K2_RESET') %></button>
<% } %>

