<% if(!_.isEmpty(menu)) { %>
<ul data-region="menu-secondary">
    <% _.each(menu, function(link) { %>
    <li>
        <a <% _.each(link.attributes, function(value, name) { print(name + '="' + value + '" ');}) %>><%= link.name %></a>
    </li>
    <% }); %>
</ul>
<% } %>

<% if(!_.isEmpty(filters)) { %>
<div data-region="filters">
    <% _.each(filters, function(filter) { %>
    <div data-role="filter">
        <% if(filter.radio) { %>
        <label><%= filter.label %></label>
        <% } else { %>
        <label for="<%- filter.id %>"><%= filter.label %></label>
        <% } %>
        <%= filter.input %>
    </div>
    <% }); %>
</div>
<button data-action="reset"><%= l('K2_RESET') %></button>

<div>
	<span><%= l('K2_VIEW_MODE') %></span>
	<label>
		<span><%= l('K2_PAGINATION') %></span>
		<input type="radio" name="viewMode" value="pagination" />
	</label>
	<label>
		<span><%= l('K2_INFINITE_SCROLLING') %></span>
		<input type="radio" name="viewMode" value="scroll" />
	</label>
</div>
<% } %>

