<aside class="jw--sidebar jw--transition">
	<div class="left jw--transition jw--sidebar--text">
	
		<% if(!_.isEmpty(menu)) { %>
		<nav class="text-center jw--sidebar--header">
			<ul class="jw--inline--menu jw--inline--menu__icons text-center" data-region="menu-secondary">
			    <% _.each(menu, function(link) { %>
			    <li>
			        <a <% _.each(link.attributes, function(value, name) { print(name + '="' + value + '" ');}) %>> 
				        <% if(link.id == 'settings') {
							print('<i class="fa fa-cog"></i>');
						} else if(link.id == 'information') {
				        	print('<i class="fa fa-info-circle"></i>');
				        } else if(link.id == 'help') {
				        	print('<i class="fa fa-life-saver"></i>');
				        } %>
			       		<span><%= link.name %></span>
			        </a>
			    </li>
			    <% }); %>
			</ul>
		</nav>
		<% } %>
		
		<% if(!_.isEmpty(filters)) { %>
		<div data-region="filters">
			<% if(filters.search) { %>
			<div class="jw--sidebar--body">	
				<div class="jw--search" data-role="filter">
					<!-- <label for="<%- filters.search.id %>"><%= filters.search.label %></label> -->
					<%= filters.search.input %>
					<button class="right jw--search--button" type="button" data-action="search"> <i class="fa fa-search"></i></button>
					<div class="jw--autocomplete" data-region="sidebar-search-results"></div>
				</div>
			</div>
			<% } %>
				
			<div class="jw--filters">
				<div class="jw--filters--list">
				
				    <% _.each(filters, function(filter) { %>
				    <% if(filter.id != 'search') { %>	    
				    <div class="jw--filter" data-role="filter">
				        
				        <% if(filter.radio) { %>
				        <label class="jw--radio--title">
				        	<%= filter.label %>
				        </label>
				        
				        <% } else { %>
				        <label class="jw--radio" for="<%- filter.id %>">
				        	<%= filter.label %>
				        </label>
				        <% } %>
				        
				        <%= filter.input %>
				    </div>
				  
				    <% } %>
			    <% }); %>
				</div>
				
				<button id="jw--filters--reset" data-action="reset">
					<%= l('K2_RESET') %> <i class="fa fa-minus-square"></i>
				</button>

			</div>			
		
			<div class="jw--pagination--mode">
				<span><%= l('K2_VIEW_MODE') %></span>
				
				<label class="jw--radio jw--radio__smaller jw--label__first">
					<span><%= l('K2_PAGINATION') %></span>
					<input type="radio" name="viewMode" value="pagination" />
				</label>
				
				<label class="jw--radio jw--radio__smaller jw--label__last">
					<span><%= l('K2_INFINITE_SCROLLING') %></span>
					<input type="radio" name="viewMode" value="scroll" />
				</label>
			</div>
		</div>
		<% } %>
	</div>
	
	<div class="right jw--sidebar--handle"> 
		<a class="jw--sidebar--toggle fa fa-navicon" href="#" ></a>
		
		<div class="text-center jw--thumbsbar" data-role="layouts">
		
			<button class="jw--transition jw--layout--btn" title="<%= l('COM_K2_CHANGE_LAYOUT_TO_GRID') %>" data-action="set-layout" data-layout="grid">
				<i class="fa fa-th">
					<span class="visuallyhidden"><%= l('COM_K2_CHANGE_LAYOUT_TO_GRID') %></span>
				</i>
			</button>
			
			<button class="jw--transition jw--layout--btn" title="<%= l('COM_K2_CHANGE_LAYOUT_TO_LIST') %>" data-action="set-layout" data-layout="default">
				<i class="fa fa-list-ul">
					<span class="visuallyhidden"><%= l('COM_K2_CHANGE_LAYOUT_TO_LIST') %></span>
				</i>
			</button>
		</div>
		
	</div>
	
</aside>