<% if(title) { %> <h3 id="jwTitle"><%= title %></h3>
<% } %>

<% if(!_.isEmpty(filters)) { %>
<div class="jwFilters">
    <% _(filters).each(function(filter) { %>
    <div class="jwFilter">
        <% if(filter.radio) { %>
        <label><%= filter.label %></label>
        <% } else { %>
        <label for="<%- filter.id %>"><%= filter.label %></label>
        <% } %>
        <%= filter.input %>
    </div>
    <% }); %>
</div>
<% } %>

<% if(!_.isEmpty(toolbar)) { %>
<div class="jwToolbar">
    <span id="jwToolbarCounter">0</span>
    <span id="jwToolbarTitle"><%= l('K2_SELECTED') %></span>
    <ul id="jwToolbarActions">
        <% _(toolbar).each(function(button) { %>
        <button <% if(button.attributes.id) { %> id="<%= button.attributes.id %>" <% } %> <% if(button.attributes.class) { %> class="<%= button.attributes.class %>" <% } %> <% if(button.attributes['data-state']) { %> data-state="<%= button.attributes['data-state'] %>" <% } %>>
            <%= button.name %>
        </button>
        <% }); %>
    </ul>
    <a href="#" class="jwToolbarCloseButton"><%= l('K2_CANCEL') %></a>
</div>
<% } %>